[2022-10-15 18:01] jsvigneshkanna opened #2 "Bug Issue Template"
**Description:**
As this is a new repository, we need a bug issue GitHub template. The template should be a bug issue alone and should have the below-mentioned input fields

**Bug Issue template Requirement:**

1. Issue title should start with - [BUG]<bug title>
2. Description of the bug <Required>
3. Reproduction URL <OPTIONAL>
4. Frontend/ backend issue <Required>
5. Screenshot of the issue if U

[2022-10-15 18:14] jsvigneshkanna opened #3 "Feature Issue Template"
Description:
As this is a new repository, we need `Feature Issue Template` for new feature tickets alone. The template should have below mentioned input fields

**Bug Issue template Requirement:**

1. Feature title should start with - [FEATURE]<feature title>
2. Description of the FEATURE<Required>
3. Motivation for this new feature <Required>
4. Frontend/ backend issue <Required>
5. Screenshot of

[2022-10-15 18:19] jsvigneshkanna opened #4 "Chores Issue Template"
**Description:**
As this is a new repository, we need bug issue GitHub template. The template should be new tailwind component feature issue alone and should have below mentioned input fields

**Tailwind Component Feature template Requirement:**

1. Issue title should start with - [TCF]< title>
2. Description of the Tailwind component<Required>
5. Screenshot of the tailwind component <OPTIONAL>
6.

[2022-10-15 18:28] jsvigneshkanna opened #5 "PR Template"
**Description:**
As this is a new repository, we need PR GitHub template. The template should be new PRs and should have below mentioned input fields

**PR template Requirement:**

1. PR title should start with - [what_type_of_fix]< title>
2. Description of the Fix <Required>
3. Issue number in hastag <REQUIRED>
4. Screenshot of the Fix (desktop and mobile view) <REQUIRED>
5. checklist (tested in

[2022-10-16 05:11] AmanPachori commented on #5
Hi @jsvigneshkanna, can you bit elaborate on it?

[2022-10-16 06:01] jsvigneshkanna commented on #5
Hi @AmanPachori ,

This is for adding new PR template where when contributors raise PR, they have to fill some fields like
1. title
2. Issue for which fix is done
3. screenshot of fix

Adding this template would standardize the PR structure when reviewers take them for review
For reference:
![image](https://user-images.githubusercontent.com/42484705/196020709-261782aa-2fc6-498c-8601-5759a941d5af.p

[2022-10-16 06:03] jsvigneshkanna opened #6 "Bug issue template"
**Description:**
As this is a new repository, we need a bug issue GitHub template. The template should have a bug issue alone and should have the below-mentioned input fields

**Bug Issue template Requirement:**

1. Issue title should start with - [BUG]<bug title>
2. Description of the bug <Required>
3. Reproduction URL <OPTIONAL>
4. Frontend/ backend issue <Required>
5. Screenshot of the issue if

[2022-10-16 06:03] #2 closed

[2022-10-16 06:04] jsvigneshkanna opened #7 "Feature Issue Template"
Description:
As this is a new repository, we need `Feature Issue Template` for new feature tickets alone. The template should have below mentioned input fields

**Feature Issue template Requirement:**

1. Feature title should start with - [FEATURE]<feature title>
2. Description of the FEATURE<Required>
3. Motivation for this new feature <Required>
4. Frontend/ backend issue <Required>
5. Screensho

[2022-10-16 06:04] #3 closed

[2022-10-16 06:05] jsvigneshkanna opened #8 "Chore Issue template"
**Description:**
As this is a new repository, we need bug issue GitHub template. The template should be new tailwind component feature issue alone and should have below mentioned input fields

**Tailwind Component Feature template Requirement:**

1. Issue title should start with - [TCF]< title>
2. Description of the Tailwind component<Required>
5. Screenshot of the tailwind component <OPTIONAL>
6.

[2022-10-16 06:05] #4 closed

[2022-10-16 06:07] jsvigneshkanna commented on #4
Issue closed as not taken for last 12 hours

[2022-10-16 06:07] jsvigneshkanna commented on #3
Issue closed as not taken for last 12 hours

[2022-10-16 06:38] AmanPachori commented on #5
@jsvigneshkanna I would like to work on this can you assign it to me

[2022-10-16 06:39] jsvigneshkanna commented on #5
Welcome @AmanPachori ,

Please make sure all checklist are met, Assigning this issue to you name

cheers mate 🍻

[2022-10-16 06:43] jsvigneshkanna opened #10 "Add about Hacktoberfest md file"
Description:

We need a new markdown file named `ABOUT_HACKTOBERFEST` and this file should have below mentioned points

1. Welcome quote
2. Hacktoberfest-2022 banner
3. what is hacktoberfest
5. swags
6. where to find repos

PR Requirement:

- Please check the above requirements are met
- Always create new branch on forked repo from master to avoid and error while merging the fix
- Please **Star th

[2022-10-16 07:27] Sayan2908 commented on #10
@jsvigneshkanna Can I work on it?

[2022-10-16 07:40] jsvigneshkanna commented on #10
Hi @Sayan2908
Yeah pleade go one, take time to check whether checklists are met and please don't forget to star this cool project

Cheers mate 🍻

[2022-10-16 07:46] VirginieLemaire opened #12 "Missing contributing guide"
Hi 😃
I saw your message on Hacktoberfest discord. Thanks for sharing your project
In the README you ask to follow the contributing guide but there is no contributing guide 🙈. I can add one and link it on README file if you want ;)

[2022-10-16 08:05] jsvigneshkanna commented on #12
Hi @VirginieLemaire ,

Good check ⚡
You can create one new CONTRIBUTING.md file and link the existing readme.
Please make sure to cover below points for contributing guide

1. First raise new issue (bug/ feature/ ...) and get assigned from maintainers
2. Git workflows to fork, create new branch, make changes, commit with good message, push them
3. Create PR with suitable and crisp title
4. follow

[2022-10-16 08:16] jsvigneshkanna commented on #5
Thanks @AmanPachori for contribution, please check for other issues too

[2022-10-16 08:16] #5 closed

[2022-10-16 08:17] jsvigneshkanna commented on #10
Thanks @Sayan2908 , for contribution, check for other issues too.

[2022-10-16 08:17] #10 closed

[2022-10-16 08:23] jsvigneshkanna opened #14 "Add contributors list to Readme"
Description:
As this repo is solely built by open source contributors, we need to thank them by highlighting them in Repo's Readme

Embed contributors list to readme with help of https://contrib.rocks/preview?repo=jsvigneshkanna%2Ftailwind_ui_components

PR Requirement:

- Please check the above requirements are met
- Always create new branch on forked repo from master to avoid and error while mer

[2022-10-16 08:24] najeebkp commented on #14
hi @jsvigneshkanna please assign this to me

[2022-10-16 08:26] jsvigneshkanna commented on #14
Hi @najeebkp ,

you can work on this issue, assigning your name
Please don's forget to star this repo to make it more cooler

Cheers 🍻

[2022-10-16 08:29] AmanPachori commented on #6
Hi @jsvigneshkanna  can you please assign this issue to me

[2022-10-16 08:29] jsvigneshkanna opened #15 "Bug Issue Template"
**Description:**
As this is a new repository, we need a bug issue GitHub template. The template should have a bug issue alone and should have the below-mentioned input fields

**Bug Issue template Requirement:**

1. Issue title should start with - [BUG]<bug title>
2. Description of the bug <Required>
3. Reproduction URL <OPTIONAL>
4. Frontend/ backend issue <Required>
5. Screenshot of the issue if

[2022-10-16 08:30] #6 closed

[2022-10-16 08:30] #7 closed

[2022-10-16 08:30] #8 closed

[2022-10-16 08:30] jsvigneshkanna opened #16 "Feature Issue Template"
Description:
As this is a new repository, we need `Feature Issue Template` for new feature tickets alone. The template should have below mentioned input fields

**Feature Issue template Requirement:**

1. Feature title should start with - [FEATURE]<feature title>
2. Description of the FEATURE<Required>
3. Motivation for this new feature <Required>
4. Frontend/ backend issue <Required>
5. Screensho

[2022-10-16 08:30] jsvigneshkanna opened #17 "Chore issue template"
**Description:**
As this is a new repository, we need bug issue GitHub template. The template should be new tailwind component feature issue alone and should have below mentioned input fields

**Tailwind Component Feature template Requirement:**

1. Issue title should start with - [TCF]< title>
2. Description of the Tailwind component<Required>
5. Screenshot of the tailwind component <OPTIONAL>
6.

[2022-10-16 08:31] AmanPachori commented on #16
HI @jsvigneshkanna can you assign this issue to me

[2022-10-16 08:32] jsvigneshkanna commented on #6
Hi @AmanPachori ,

Please take https://github.com/jsvigneshkanna/tailwind_ui_components/issues/15

Assigning your name there

[2022-10-16 08:32] jsvigneshkanna commented on #16
@AmanPachori , you can start working on this feature

[2022-10-16 09:38] #12 closed

[2022-10-16 09:40] #14 closed

[2022-10-16 09:47] #16 closed

[2022-10-16 09:50] akshayrs3 opened #23 "Fix grammar in readme file"
Observed a few issues with the grammar in the readme. Some articles are missing and sentences would be cleaner and read better with their presence.

[2022-10-16 09:53] jsvigneshkanna commented on #23
Thanks @akshayrs3  for bringing this issue, can you please pull latest readme changes and run one final grammar check

[2022-10-16 09:56] jsvigneshkanna commented on #23
Thank you @akshayrs3

[2022-10-16 09:56] #23 closed

[2022-10-16 09:56] biohazard2117 commented on #15
@jsvigneshkanna I can do it. Please assign it to me

[2022-10-16 09:57] akshayrs3 commented on #23
@jsvigneshkanna no worries! Thank you :)

[2022-10-16 09:57] jsvigneshkanna commented on #15
Hi @biohazard2117 ,

Sure, I will assign this issue to your name. Please double check the folder structure.

BTW don't forget to star this project to make it cooler

[2022-10-16 10:05] biohazard2117 commented on #15
Should I make the template in markdown ?

[2022-10-16 10:07] jsvigneshkanna opened #24 "[BUG]: Contributors list in readme not getting updated"
### Description

The contributors list in bottom of README file not getting updated dynamically when new contributors come.

### Motivation

This should be fixed as contributors are sole backbone of this cool project

### Issue Type

Documentation

### Are you taking this fetaure implementaion

No, This is up for grabs

[2022-10-16 10:08] jsvigneshkanna commented on #24
Original count of contributors:
![image](https://user-images.githubusercontent.com/42484705/196029589-5748a79c-fd49-497e-a2ed-03bcc8f6603e.png)

but in readme
![image](https://user-images.githubusercontent.com/42484705/196029598-d3823134-96b5-4635-ae25-103ecca0afdd.png)

[2022-10-16 10:09] jsvigneshkanna commented on #15
@biohazard2117 ,

yml file is appreciated as we do have feature issue request in yml format
Please refer this repo: https://github.com/stevemao/github-issue-templates

[2022-10-16 10:24] jsvigneshkanna opened #25 "[Feature]: CODE OF CONDUCT new file"
# Feature Title

New file for CODE OF CONDUCT

# Description
Add new file CODE_OF_CONDUCT.md under root directory which has standard rules to be followed in open source

Please add `vkrishitaran@gmail.com` email ID wherever required in contact details in above file

# Motivation
This file will help to bring standard behavior among the contributors

# Issue Type
Documentation

# Screenshot of the f

[2022-10-16 11:49] #15 closed

[2022-10-16 13:47] akshayrs3 commented on #24
@jsvigneshkanna
I believe the image pasted in the readme is a static image, which was generated one time. When it was generated, it had just 3 contributors, and then it was pasted. the static image does not update dynamically.

It must have been created using this
https://contrib.rocks/preview?repo=angular%2Fangular-ja

[2022-10-16 13:55] jsvigneshkanna commented on #24
Good findings @akshayrs3
If you can fix this, can i assign this issue under your name?

[2022-10-16 14:11] akshayrs3 commented on #24
@jsvigneshkanna I believe it should sync automatically. they must have built the app in that way.
https://dev.to/lacolaco/introducing-contributors-img-keep-contributors-in-readme-md-gci

let's check tomorrow and see if it updates.

[2022-10-16 14:29] jsvigneshkanna commented on #24
Sure @akshayrs3 ,

Will assign this issue to your name, please check tomorrow whether the list is getting updated tomorrow. If not please fix this

[2022-10-16 16:00] jsvigneshkanna opened #29 "[Feature]: new CODE OF CONDUCT file"
#  Feature Title

add code_of_conduct file

# Description

Add new file CODE_OF_CONDUCT.md under root directory which has standard rules to be followed in open source

Please add `vkrishitaran@gmail.com` email ID wherever required in contact details in above file

# Motivation

This file will help to bring standard behavior among the contributors

# Issue Type

Documentation

# Screenshot of the f

[2022-10-16 16:00] #25 closed

[2022-10-16 21:04] ferrorenan commented on #29
@jsvigneshkanna
Hey friend, I created a PR to solve this issue. Could you take a look please!?
The PR link: https://github.com/jsvigneshkanna/tailwind_ui_components/pull/30

[2022-10-16 23:38] mpeiffer commented on #17
May I be assigned to this issue?

[2022-10-17 02:53] jsvigneshkanna commented on #17
Hi @mpeiffer ,

Sure you can work on this, assigning you this issue

[2022-10-17 02:57] jsvigneshkanna commented on #29
Closing this issue as completed

[2022-10-17 02:57] #29 closed

[2022-10-17 03:03] biohazard2117 commented on #17
I did the same type of job in previous issue. So I can do it lot faster , may I be assigned the issue ? @jsvigneshkanna

[2022-10-17 03:06] jsvigneshkanna commented on #17
@biohazard2117 ,
Apologies! As mpeiffer as requested first

Anyways we will raise new feature/issue requests for the website and different tailwind components in some time

Follow this repo for faster updates

[2022-10-17 03:12] mpeiffer commented on #17
@jsvigneshkanna I opened PR #31 for this issue.

[2022-10-17 03:15] #17 closed

[2022-10-17 16:11] chibuike-19 opened #33 "[Bug]: Unresponsive navbar"
### Bug Title

Unresponsive navbar

### Description of BUG

Navbar is unresponsive on mobile devices.

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![tailwind-comp](https://user-images.githubusercontent.com/94564639/196228564-d56d34af-9c77-4c7d-9ddf-57ccfa8d0d3c.png)

### Are you taking this issue fix

Yes

[2022-10-17 16:15] rohitsinghind commented on #33
hey, can u assign this to me

[2022-10-17 16:27] chibuike-19 commented on #33
I'm not a maintainer, I'm also asking to be assigned to this issue

[2022-10-17 18:38] jsvigneshkanna commented on #33
@chibuike-19 , am assigning this issue for navbar
Please fix navbar responsiveness

[2022-10-17 18:39] jsvigneshkanna commented on #33
@rohitsinghind ,
Can you please check the homepage banner responsive issue and fix that

Appreciate you for checking this

[2022-10-17 18:46] jsvigneshkanna opened #34 "[Bug]: make homepage banner responsive to mobile screens"
### Bug Title

Unresponsive homepage banner

### Description of BUG

- Unresponsive homepage banner
- The responsiveness should for viewport 768px and 460pm
- Fix the stylings in respective css file using media query

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

Nill

### Are you taking this is

[2022-10-17 18:49] jsvigneshkanna opened #35 "[Feature]: nice logo for our website"
### Feature Title

Logo design

### Description

- We need new logo for our website
- it should be in standard with existing brandkit colors
- should look cooler and simple
- logo title : tailwind bootstrap

### Motivation

As this projectgetting cooler with more contributors and users coming in, its necessary to have good logo

### Issue Type

Frontend

### Screenshot of the feature if done ?

Ni

[2022-10-17 20:03] FilipePfluck commented on #34
I can do this. Assign me please.

[2022-10-17 21:43] FilipePfluck commented on #34
https://github.com/jsvigneshkanna/tailwind_ui_components/pull/37

[2022-10-18 02:52] jsvigneshkanna commented on #34
Thank you @FilipePfluck

[2022-10-18 02:59] jsvigneshkanna commented on #35
Thanks @beakman
Check other issues too and dont forget to star this repo and select the watchlist

[2022-10-18 03:00] #35 closed

[2022-10-18 03:01] jsvigneshkanna commented on #34
@FilipePfluck ,
Check for other issue and dont forget to star this repo and keep this in watchlist to get new issues notified quicker

[2022-10-18 03:01] #34 closed

[2022-10-18 05:09] jsvigneshkanna opened #38 "[Feature]: Style the component page"
### Feature Title

Component page styling

### Description

We have added new component page where we embed codepen and this page needs styling as there would be multiple codepens in single page

URL - https://tailwindcsscomponents.vercel.app/components

### Motivation

As component page is sole for our website, this requires proper styling

### Issue Type

Frontend

### Screenshot of the feature

[2022-10-18 05:10] jsvigneshkanna opened #39 "[Bug]: Codepen prefill embed not working"
### Bug Title

Codepen prefill embed not working

### Description of BUG

Codepen prefill embed not loading after page refresh

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/components

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/42484705/196340579-2eece7a3-ca6c-42e6-81a4-f802999d9335.png)

[2022-10-18 05:10] #24 closed

[2022-10-18 09:27] jsvigneshkanna opened #40 "[Feature]: design about us page"
### Feature Title

Design about us page

### Description

The new page should be under nextjs standard of pages
The color schema can be taken from navbar and homepage banner

This page should have below points considered

1. What is tailwind bootstrap
2. Where you find us
3. Why we doing this project

### Motivation

About us page will give bigger picture of the project

### Issue Type

Frontend

[2022-10-18 09:44] chibuike-19 commented on #33
Ok @jsvigneshkanna I'm working on it now

[2022-10-18 11:11] GeorgeET15 commented on #39
For me its working fine after reloading.

[2022-10-18 11:14] jsvigneshkanna commented on #39
Hi @GeorgeET15 ,

bug reproduction step,

1. npm run dev (start the webpage fresh)
2. click `components` link in navbar and move to that page (you can see codepen loaded properly)
3. now come back to homepage
4. again follow step 2 where you will see page as shown in screenshot above

[2022-10-18 11:18] GeorgeET15 commented on #39
I would like to work on this issue can you assign this to me. Thank you

[2022-10-18 11:20] jsvigneshkanna commented on #39
Yeah sure @GeorgeET15 ,

Do you know the issue/ fix to this?

We can have a conversation in discord (vigneshkanna#4052)

[2022-10-18 11:49] GeorgeET15 commented on #39
Yes I found the issue.

[2022-10-18 12:39] jsvigneshkanna commented on #39
@GeorgeET15 , let me know if help needed

[2022-10-18 13:32] jsvigneshkanna commented on #33
@chibuike-19 ,
let me know if you need help

[2022-10-18 15:05] jsvigneshkanna opened #41 "single text tailwind button design"
### Feature Title

single text tailwind button design

### Description

Need to create code for single text button as per below image.

1. The final code should be placed under path `tailwind_components/buttons` with file name as `single_button.jsx`
2. The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the `buttonCollections` list
3. Post the

[2022-10-18 15:07] jsvigneshkanna opened #42 "Delete button tailwind design"
### Feature Title

Delete button tailwind design

### Description

Need to create code for delete text+icon button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as delete_button.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to

[2022-10-18 15:29] jsvigneshkanna opened #43 "[FEATURE]: Tailwind download button"
### Description

Need to create code for download now text+icon button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as download_now1.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website and check whether

[2022-10-18 15:31] jsvigneshkanna opened #44 "[FEATURE]: see-more tailwind button"
### Description

Need to create code for `see more` button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as see_more1.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website and check whether the codepen is

[2022-10-18 15:47] jsvigneshkanna opened #45 "[FEATURE]: rectangle dropdown button in tailwindcss"
### Description

Need to create code for rectangle dropdown button button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as rectangle_dropdown_button.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website an

[2022-10-18 16:03] jsvigneshkanna opened #46 "[FEATURE]: Setting button tailwind"
### Description

Need to create code for **SETTING** button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as rectangle_setting.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website and check whether the co

[2022-10-18 16:07] zainbinfurqan commented on #46
@jsvigneshkanna  Can i work on this?

[2022-10-18 16:08] zainbinfurqan commented on #42
@jsvigneshkanna  Can i work on this?

[2022-10-18 16:10] jsvigneshkanna commented on #46
Hi @zainbinfurqan ,

Sure, please follow the instructions and the folder structure as it determines the code to be displayed in website's codepen

Let me know if you need any help. Also check for other issues to

[2022-10-18 16:10] jsvigneshkanna commented on #42
Sure @zainbinfurqan , please follow the instructions and the folder structure as it determines the code to be displayed in website's codepen

Let me know if you need any help. Also check for other issues to

[2022-10-18 16:14] jsvigneshkanna commented on #33
Hi @saroshfarhan ,

Nothing is Mundane in open source 😜

Development steps:

1. fork the repo and checkout your forked repo branch in local (git checkout ``)
2. cd tailwind_ui_components
**3. npm install (this will install all the dependencies)
4. npm run dev (this will start the local server)**
5. make changes and play around with the code
6. once changes are tested please commit those
7. and rai

[2022-10-18 16:20] jsvigneshkanna opened #47 "[FEATURE]: Play button in tailwind"
### Description

Need to create code for play buttons with different size and shape as per below image.

The final code should be placed under path tailwind_components/buttons with file name as paly_buttons.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website and c

[2022-10-18 16:25] itsmenikhill commented on #45
I'd like to work on this

[2022-10-18 16:28] jsvigneshkanna commented on #45
Hi @itsmenikhill ,
Am assigning to your name, please follow the folder structure instructions

Also look for others issues to solve

[2022-10-18 16:30] jsvigneshkanna opened #48 "[FEATURE]: Arrow buttons in tailwind"
### Description

Need to create code for ARROW button as per below image.

The final code should be placed under path tailwind_components/buttons with file name as solid_arrow_buttons.jsx
The file as to be imported to tailwind_components/buttons/collection.js file as per example and added to the buttonCollections list
Post these process, go to components tab in website and check whether the codepe

[2022-10-18 16:31] shrutilenka commented on #40
Hey @jsvigneshkanna , I am interested to work on this issue. I have prior experience with tailwind CSS. So could you pls assign this to me?

[2022-10-18 16:32] jsvigneshkanna commented on #40
Hi @shrutilenka ,

Assing this issue to you name, please go through the website and repo docs to know more about this project

Also check other tailwind components issues

[2022-10-18 16:33] jsvigneshkanna commented on #46
@zainbinfurqan ,

For any issue while creating / importing the component code file, check below sample files
https://github.com/jsvigneshkanna/tailwind_ui_components/tree/master/tailwind_components/buttons

[2022-10-18 16:33] jsvigneshkanna commented on #45
@itsmenikhill ,
For any issue while creating / importing the component code file, check below sample files
https://github.com/jsvigneshkanna/tailwind_ui_components/tree/master/tailwind_components/buttons

[2022-10-18 16:36] jsvigneshkanna opened #49 "[FEATURE]: Social media buttons in tailwindcss"
### Description

Need to create code for social+icon button as per below image.

- The final code should be placed under path `tailwind_components/buttons` with file name as solid_social_button1.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and check w

[2022-10-18 16:37] Anuran12 commented on #49
@jsvigneshkanna i would like to work on this.

[2022-10-18 16:39] jsvigneshkanna commented on #49
Hi @Anuran12 ,
Assigning you this issue, please follow the folder structure for codepen works properly

Let me know if any issue faced. also check for buttons design too

[2022-10-18 16:41] jsvigneshkanna opened #50 "[FEATURE]: Search button in tailwind"
### Description

Need to create code for social+icon button as per below image.

- The final code should be placed under path `tailwind_components/buttons` with file name as search_test_icon_button1.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and che

[2022-10-18 16:45] jsvigneshkanna opened #51 "[FEATURE]: new tailwindss buttons"
### Description

### If you have any button design which can be built in tailwindcss, create issue and start working on it

- The final code should be placed under path `tailwind_components/buttons` with file name as <button_name>_button1.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process,

[2022-10-18 16:46] Anuran12 commented on #49
@jsvigneshkanna  okay great. I will send pr tomorrow.

Can I be assigned in more than one issues ?

[2022-10-18 16:46] jsvigneshkanna commented on #49
yeah, max 3 issues at a time @Anuran12

[2022-10-18 16:48] jsvigneshkanna commented on #33
@chibuike-19 ,

Any update? let me know if any problem facing

[2022-10-18 16:49] jsvigneshkanna commented on #39
@GeorgeET15 ,
Any update?

[2022-10-18 16:52] Anuran12 commented on #47
@jsvigneshkanna i would like to work on this

[2022-10-18 16:52] Anuran12 commented on #50
@jsvigneshkanna  I would like to work on this

[2022-10-18 16:53] jsvigneshkanna commented on #50
Assigning you this issue,
BTW dont forget to star this repo

[2022-10-18 16:54] jsvigneshkanna commented on #47
@Anuran12 ,

Assigning your name

[2022-10-18 16:54] iamkennis commented on #51
I will like to work on this

[2022-10-18 16:55] jsvigneshkanna opened #52 "[FEATURE]: Apple store button tailwind"
### Description

### Need to create code for Apple store  button as per below image.

- The final code should be placed under path `tailwind_components/buttons` with file name as apple_store_button1.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and che

[2022-10-18 16:56] jsvigneshkanna commented on #51
@iamkennis ,

Look for issue where you can build the button component in tailwindcss, and comment there

[2022-10-18 16:58] jsvigneshkanna commented on #48
@Kabiirk ,

You need to build this in html (play with - https://play.tailwindcss.com/)

The code has to be created as per below sample folder structure:

https://github.com/jsvigneshkanna/tailwind_ui_components/tree/master/tailwind_components/buttons

[2022-10-18 16:59] iamkennis commented on #51
okay

[2022-10-18 17:01] iamkennis commented on #44
I want to work on this button

[2022-10-18 17:09] iamkennis commented on #44
okay

[2022-10-18 17:12] jsvigneshkanna commented on #44
@iamkennis check for other issues

[2022-10-18 17:17] saroshfarhan commented on #33
@jsvigneshkanna thank you so much for this step-by-step guide, really appreciated 🚀

[2022-10-18 17:18] iamkennis commented on #44
okay

[2022-10-18 17:18] jsvigneshkanna commented on #33
@saroshfarhan ,
Check for easy issues in issue page

[2022-10-18 17:18] iamkennis commented on #43
I will work on this too

[2022-10-18 17:20] jsvigneshkanna commented on #43
Thanks @iamkennis
Follow the folder and file structure of sample given

[2022-10-18 17:23] GeorgeET15 commented on #39
Yeah sure. Thank you

[2022-10-18 17:28] iamkennis commented on #43
okay

[2022-10-18 17:30] jsvigneshkanna opened #53 "[Feature]: footer for website"
### Feature Title

Website footer

### Description

This website requires footer and it has to new component which should be imported in every pages

The footer should contain below things

1. Logo
2. Footer links to different pages
3. Copyright text
4. Privacy, terms of issue, contribute guide links

### Motivation

Footer is main component of cool project

### Issue Type

Frontend

### Screensho

[2022-10-18 17:33] jsvigneshkanna opened #54 "[Feature]: contact us page"
### Feature Title

Contact us page creation

### Description

Need to build new contact us page for this repos website in nextjs and to be linked to navbar

Should have form with name,email and text area

Should also contain social media icons

Should be creative in styling and color scheme

### Motivation

Contact us page makes website cooler

### Issue Type

Frontend

### Screenshot of the featu

[2022-10-18 17:35] jsvigneshkanna opened #55 "[Bug]: nav logo not redirecting"
### Bug Title

Non redirecting logo

### Description of BUG

Logo in navbar should redirect to homepage on click

### Reporduction URL of bug

Homepage

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

Nill

### Are you taking this issue fix

No

[2022-10-18 17:36] saroshfarhan opened #56 "[Feature]: User card with message button"
### Feature Title

User card with message button

### Description

This will have card using tailwind css and will have a button for users to message

### Motivation

Just wanted to try out something with cards and buttons.

### Issue Type

Frontend

### Screenshot of the feature if done ?

Final PR will look like below
<img width="1434" alt="Screenshot 2022-10-18 at 11 06 24 PM" src="https://user

[2022-10-18 17:37] saroshfarhan commented on #56
@jsvigneshkanna Have created this would like to know your thoughts.

[2022-10-18 17:38] Ved142 commented on #55
Hey @jsvigneshkanna i would like to work on it. Please assign it to me.

[2022-10-18 17:42] saroshfarhan commented on #56
ok @jsvigneshkanna

[2022-10-18 17:42] jsvigneshkanna commented on #55
Thank you for checking @Ved142
Assigning you this issue, please also look for other issues too for footer

[2022-10-18 17:54] saroshfarhan commented on #56
@jsvigneshkanna raised PR https://github.com/jsvigneshkanna/tailwind_ui_components/pull/57

[2022-10-18 17:59] jsvigneshkanna commented on #56
@saroshfarhan
Merged your pr, you can check the production website

Also raise many PRs for buttons or different components wit different design if you know

[2022-10-18 17:59] #56 closed

[2022-10-18 18:11] #42 closed

[2022-10-18 18:14] #55 closed

[2022-10-18 18:18] jsvigneshkanna opened #60 "[Feature]: hamburger navmenu in mobile view"
### Feature Title

Hamburger navmenu

### Description

Website need hamburger nav bar in mobile view
The final design is open for creativity

### Motivation

Mobile view navbar doesnt look as cool as desktops

### Issue Type

Frontend

### Screenshot of the feature if done ?

Nill

### Are you taking this fetaure implementaion

No

[2022-10-18 19:18] PranshuNayak commented on #41
I want to work on this issue please assign

[2022-10-18 19:29] AbhishekTiwari23 commented on #52
I would like to contribute. Can you please assign this issue to me?

[2022-10-18 19:30] AbhishekTiwari23 commented on #53
I would like to contribute. Can you please assign this issue to me?

[2022-10-18 19:30] AbhishekTiwari23 commented on #54
I would like to contribute. Can you please assign this issue to me?

[2022-10-18 19:31] AbhishekTiwari23 commented on #60
I would like to contribute. Can you please assign this issue to me?

[2022-10-19 02:47] shrutilenka commented on #40
thanks @jsvigneshkanna

[2022-10-19 03:13] sahilarora02 commented on #53
Hey , I want to contribute in this repo. Please assign this issue to me

[2022-10-19 03:15] jsvigneshkanna commented on #41
hi @PranshuNayak
Please go aheah, also look for other issues and features too

[2022-10-19 03:17] jsvigneshkanna commented on #60
Hi @AbhishekTiwari23
Welcome to our community, also take a look for future issues and features too

[2022-10-19 03:18] jsvigneshkanna commented on #54
@AbhishekTiwari23
Assigning you this issue, please follow the instructions and make the page as creative yet simple
We can enhance it in subsequent contribution

[2022-10-19 03:20] jsvigneshkanna commented on #53
Hi @sahilarora02
Assigning you this issue, please follow the instructions and make the footer creative yet simple, we can enhance it in subsequent prs
For reference take look at this pages footer-
https://codedamn.com/contact

[2022-10-19 03:23] #46 closed

[2022-10-19 04:39] sanket-16 commented on #38
Hey , I would love to work on the issue!
Also instead of codepen would you be interested in tailwind docs type of display for components or i can just work with codepen?

[2022-10-19 04:51] jsvigneshkanna opened #64 "[FEATURE]: Scroll button in tailwind"
### Description

### Need to create code for scroll button as per below image.

- The final code should be placed under path `tailwind_components/buttons` with file name as rounded_scroll_button.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and check w

[2022-10-19 04:53] jsvigneshkanna opened #65 "[FEATURE]: Get started button in tailwind"
### Description

**Need to create code for Get started button as per below image.**

- The final code should be placed under path `tailwind_components/buttons` with file name as rounded_get_started_button.jsx
- The file as to be imported to `tailwind_components/buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website a

[2022-10-19 04:58] #43 closed

[2022-10-19 05:03] #44 closed

[2022-10-19 05:05] jsvigneshkanna commented on #38
Hi @sanket-16 ,

I would like to see the tailwind docs type display too

Assigning you this issue, please share me the screenshot of final design with tailwind docs type display

[2022-10-19 05:17] Kabiirk commented on #48
Thanks ! Per my understanding, I would need to copy the result HTML(from play.tailwind.com) and make a normal PR right ?

[2022-10-19 05:18] hugekontrast commented on #65
Can I work on this one?
* If yes, then at hover should the background illustration keep on moving to one direction, like towards right.

[2022-10-19 05:20] jsvigneshkanna commented on #48
Yes @Kabiirk
Please refer this PR https://github.com/jsvigneshkanna/tailwind_ui_components/pull/58/files

This will give picture on where you need to create file and modify

[2022-10-19 05:22] jsvigneshkanna commented on #65
Hi @hugekontrast
Please go ahead, the hover state can as what you explained.

Also please take look at other button component requests too

[2022-10-19 05:23] ahmed-sudani commented on #64
I would like to work on this

[2022-10-19 05:24] RachitGarg-12 commented on #64
@jsvigneshkanna i would like to contribute to this.

[2022-10-19 05:26] jsvigneshkanna commented on #64
Hi @ahmed-sudani
Please go ahead, assigning you this issue

[2022-10-19 05:27] jsvigneshkanna commented on #64
@RachitGarg-12 ,
Apologies but will assign you another button component design
Issue https://github.com/jsvigneshkanna/tailwind_ui_components/issues/52

[2022-10-19 05:30] hugekontrast commented on #65
On it sir.

[2022-10-19 05:31] jsvigneshkanna commented on #65
@hugekontrast ,

If you have ang button design that can be built using tailwind, please raise PRs for them too

Will check those

[2022-10-19 05:32] jsvigneshkanna commented on #64
@RachitGarg-12
Can you comment over issue #52
I will assign that to your name

[2022-10-19 06:01] kuldeepmangla opened #66 "Hey can update the Readme File according to the new changes"
@jsvigneshkanna

[2022-10-19 06:03] jsvigneshkanna commented on #66
Hi @kuldeepmangla

I am assigning you this issue, go ahead

Also please look at other feature requests too

[2022-10-19 06:20] RachitGarg-12 commented on #52
@jsvigneshkanna can you assign me this issue

[2022-10-19 06:22] jsvigneshkanna commented on #52
Sure @RachitGarg-12

Also if you can do below company buttons, that would awesome

Figma https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988

[2022-10-19 07:26] #64 closed

[2022-10-19 07:27] jsvigneshkanna commented on #66
Thanks @kuldeepmangla for your contribution,

Check out this figma whether you can recreate any components in tailwind and please raise an issue for that component

https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988

[2022-10-19 07:27] #66 closed

[2022-10-19 09:10] #47 closed

[2022-10-19 09:38] itsmenikhill commented on #45
Hi @jsvigneshkanna do you want the button to display any options or just the button?

[2022-10-19 09:40] jsvigneshkanna commented on #45
@itsmenikhill , yeah good thought

Its will be more good to show 1/2 options when clicked like dropdown menu

[2022-10-19 10:22] bhautikposhiya commented on #51
i will work on this

[2022-10-19 10:24] jsvigneshkanna commented on #51
@bhautikposhiya
Check this figma for form/input fields and build components which you are comfortable on with tailwindcss

https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988

Check similar PRs for files to be modified

[2022-10-19 11:07] jsvigneshkanna commented on #45
Perfect @itsmenikhill

Does option open upon clicking button, if so you van go ahed with PR

Also check out this figma and raise issues for which you can build components with screenshot

https://www.figma.com/file/0eqV7t3UKKM14UeqCSfOZb/Essential-UI---Figma-Ui-Kit-(Community)?node-id=688%3A1988

[2022-10-19 11:24] jsvigneshkanna commented on #51
Yeah sure creating them

[2022-10-19 11:26] itsmenikhill commented on #45
Alright!

[2022-10-19 11:30] iamkennis commented on #51
Please assign me to one you create once you are done

[2022-10-19 13:13] #49 closed

[2022-10-19 13:19] jsvigneshkanna opened #77 "[FEATURE]: Google play button in tailwind"
### Description

### Need to create code for Google play store button as per below image.

- The final code should be placed under path `tailwind_components/store_buttons` with file name as google_store_button.jsx
- The file as to be imported to` tailwind_components/store_buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab i

[2022-10-19 13:21] jsvigneshkanna opened #78 "[FEATURE]: Amazon store button in tailwind"
### Description

### Need to create code for Google play store button as per below image.

- The final code should be placed under path `tailwind_components/store_buttons` with file name as amazon_store_button.jsx
- The file as to be imported to` tailwind_components/store_buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab i

[2022-10-19 13:22] jsvigneshkanna opened #79 "[FEATURE]: Window store button in tailwind"
### Description

### Need to create code for Window store button as per below image.

- The final code should be placed under path `tailwind_components/store_buttons` with file name as windows_store_button.jsx
- The file as to be imported to` tailwind_components/store_buttons/collection.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in we

[2022-10-19 13:24] jsvigneshkanna commented on #51
@iamkennis ,

I have raised many more issue/features request. please look on it

[2022-10-19 13:32] jsvigneshkanna opened #80 "[FEATURE]: Simple form in tailwindcss"
### Description

### Need to create code for simple input form as per below image.

- The final code should be placed under path `tailwind_components/forms` with file name as `simple_input_form.jsx`
- The file as to be imported to` tailwind_components/store_buttons/forms.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and check

[2022-10-19 13:33] iamkennis commented on #77
Assign this to me

[2022-10-19 13:35] jsvigneshkanna opened #81 "[FEATURE]: Search input form in tailwindcss"
### Description

### Need to create code for simple input form as per below image.

- The final code should be placed under path `tailwind_components/forms` with file name as `search_input_form.jsx`
- The file as to be imported to` tailwind_components/store_buttons/forms.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and check

[2022-10-19 13:35] iamkennis commented on #79
Assign this to me too

[2022-10-19 13:36] jsvigneshkanna opened #82 "[FEATURE]: Slider Input in tailwindcss"
### Description

### Need to create code for Slider range Input as per below image.

- The final code should be placed under path `tailwind_components/forms` with file name as `slider_input_form.jsx`
- The file as to be imported to` tailwind_components/store_buttons/forms.js` file as per example and added to the buttonCollections list
- Post these process, go to components tab in website and check

[2022-10-19 13:36] jsvigneshkanna commented on #79
@iamkennis Sure
Thanks

[2022-10-19 13:37] iamkennis commented on #78
Assign this to me

[2022-10-19 13:40] jsvigneshkanna commented on #78
@iamkennis  Sure

[2022-10-19 13:40] #41 closed

[2022-10-19 13:41] #45 closed

[2022-10-19 13:42] jsvigneshkanna commented on #48
@Kabiirk ,
any updates, let me know if any help needed

[2022-10-19 14:19] Anuran12 commented on #80
@jsvigneshkanna  I would like to work on this

[2022-10-19 14:19] Anuran12 commented on #82
@jsvigneshkanna  I would like to work on this

[2022-10-19 14:20] Anuran12 commented on #81
@jsvigneshkanna  I would like to work on this

[2022-10-19 14:21] Hamdrive commented on #82
Hi @jsvigneshkanna could you please assign this issue to me, I'd like to work on this

[2022-10-19 14:21] jsvigneshkanna commented on #80
Great @Anuran12
assigning to your name, please make sure new files added under `tailwind_components/forms` folder

[2022-10-19 14:22] jsvigneshkanna commented on #53
Any problem @sahilarora02 ?

[2022-10-19 14:22] jsvigneshkanna commented on #81
assigning to your name, please make sure new files added under `tailwind_components/forms` folder

[2022-10-19 14:24] jsvigneshkanna commented on #82
@Hamdrive ,

Great insight, hashmarks are appreciated
Assigning to your name

[2022-10-19 14:28] jsvigneshkanna opened #84 "[FEATURE]: Report alert in tailwindcss"
### Description

**Need to create code for Report alert as per below image.**

- The final code should be placed under path `tailwind_components/alerts` with file name as `report_alert.jsx`
- The file as to be imported to `tailwind_components/alert/collection.js` file as per example and added to the `alertCollections` list
- The alert should close on clicking cross icon
- Post these process, go to

[2022-10-19 14:31] jsvigneshkanna opened #85 "[FEATURE]: Info alert in tailwind"
### Description

**Need to create code for Info  alert as per below image.**

- The final code should be placed under path `tailwind_components/alerts` with file name as `info_alert.jsx`
- The file as to be imported to `tailwind_components/alert/collection.js` file as per example and added to the `alertCollections` list
- The alert should close on clicking cross icon
- Post these process, go to co

[2022-10-19 14:31] Kabiirk commented on #48
@jsvigneshkanna
Sure, I'll let you know if i need any help. I'm employed full time so I usually start working on things late at night after my job. (lest I be promoted to customer)

[2022-10-19 14:31] jsvigneshkanna opened #86 "[FEATURE]: alarm alert in tailwind"
### Description

**Need to create code for alarm  alert as per below image.**

- The final code should be placed under path `tailwind_components/alerts` with file name as `alarm _alert.jsx`
- The file as to be imported to `tailwind_components/alert/collection.js` file as per example and added to the `alertCollections` list
- The alert should close on clicking cross icon
- Post these process, go to

[2022-10-19 14:32] jsvigneshkanna opened #87 "[FEATURE]: Not-allowed alert in tailwind"
### Description

**Need to create code for Not-allowed alert as per below image.**

- The final code should be placed under path `tailwind_components/alerts` with file name as `not_allowed_alert.jsx`
- The file as to be imported to `tailwind_components/alerts/collection.js` file as per example and added to the `alertCollections` list
- The alert should close on clicking cross icon
- Post these pro

[2022-10-19 14:33] Hamdrive commented on #82
@jsvigneshkanna regarding the importing of the component, shouldn't it be imported into `tailwind_components/forms/collection.js` and not `tailwind_components/store_buttons/forms.js`?

Going by the example PR mentioned for the button, it has been done like that, and also the `form.js` file does not exist in `store_buttons`

[2022-10-19 14:33] jsvigneshkanna opened #88 "[FEATURE]: tick alert in tailwind"
### Description

**Need to create code for Report tickas per below image.**

- The final code should be placed under path `tailwind_components/alerts` with file name as `tick_alert.jsx`
- The file as to be imported to `tailwind_components/alerts/collection.js` file as per example and added to the `alertCollections` list
- The alert should close on clicking cross icon
- Post these process, go to co

[2022-10-19 14:34] jsvigneshkanna commented on #82
@Hamdrive ,
good check, my mistake apology

It should be under forms `tailwind_components/forms/collection.js`

[2022-10-19 14:37] jsvigneshkanna opened #89 "[FEATURE]: choose file input in tailwind"
### Description

**Need to create code for choose file input as per below image.**

- The final code should be placed under path `tailwind_components/forms` with file name as `choose_file_input.jsx`
- The file as to be imported to `tailwind_components/forms/collection.js` file as per example and added to the `formCollections` list
- Oncling input box, should open the folder to select any file
- Po

[2022-10-19 14:39] jsvigneshkanna opened #90 "[FEATURE]: checkbox in tailwind"
### Description

**Need to create code for checkbox  as per below image.**

- The final code should be placed under path `tailwind_components/forms` with file name as `checkbox.jsx`
- The file as to be imported to `tailwind_components/forms/collection.js` file as per example and added to the `formCollections` list
- The checkbox should be responsive to user actions
- Post these process, go to comp

[2022-10-19 14:40] streetcodec commented on #89
I want to work on this, please assign ! @jsvigneshkanna

[2022-10-19 14:40] jsvigneshkanna opened #91 "[FEATURE]: Radion buttons in tailwind"
### Description

**Need to create code for radio button as per below image.**

- The final code should be placed under path `tailwind_components/forms` with file name as `radio_button.jsx`
- The file as to be imported to `tailwind_components/forms/collection.js` file as per example and added to the `formCollections` list
- The radio button should be responsive to user actions
- Post these process,

[2022-10-19 14:42] jsvigneshkanna opened #92 "[FEATURE]: toggle switch in tailwind"
### Description

**Need to create code for toggle switch  as per below image.**

- The final code should be placed under path `tailwind_components/forms` with file name as `toggle_switch.jsx`
- The file as to be imported to `tailwind_components/forms/collection.js` file as per example and added to the `formCollections` list
- The toggle switch should be responsive to user actions
- Post these proc

[2022-10-19 14:42] jsvigneshkanna commented on #89
Sure @streetcodec
Also check other forms components to be built in issue tab and comment which you are comfortable on

[2022-10-19 14:45] jsvigneshkanna commented on #48
No problem @Kabiirk take your time

Also check for other issue which are unassigned

[2022-10-19 14:49] Rancho2002 commented on #90
assign it to me @jsvigneshkanna

[2022-10-19 15:04] Matl3us commented on #91
Can you assign me to this?

[2022-10-19 15:08] jsvigneshkanna commented on #91
Sure @Matl3us ,

Also look for other issues/ features too

[2022-10-19 15:09] hugekontrast commented on #65
Okay, so I tried it and need suggestions,
https://codepen.io/Ashuzon/pen/RwymzWP

[2022-10-19 15:11] jsvigneshkanna commented on #65
Looks good @hugekontrast , you can remove "Ready to dive in?
Start your free trial today." text - (only button is enough) .  please raise a PR

Also look for `alerts components` raised in issue tab

[2022-10-19 15:22] tanisha-tech360 commented on #90
Hey can you assign me this issue?

[2022-10-19 15:25] jsvigneshkanna commented on #90
Hey @tanisha-tech360

This issue is already been assigned, apologies for that,

you can look for other issues, - https://github.com/jsvigneshkanna/tailwind_ui_components/issues/88

[2022-10-19 15:37] jsvigneshkanna commented on #90
@tanisha-tech360 ,

can I assign you that issue - #88

[2022-10-19 15:41] HondaChan14 commented on #92
Hello could I be assigned this?

[2022-10-19 15:43] jsvigneshkanna commented on #92
Sure @HondaChan14 ,

Also please check alert component design in issue tabs

[2022-10-19 15:54] #33 closed

[2022-10-19 15:58] jsvigneshkanna opened #93 "[Feature]: new favicon for website"
### Feature Title

new favicon

### Description

We need new favicon to be added for website, I have added the image below

### Motivation

Favicon makes product cooler

### Issue Type

Frontend

### Screenshot of the feature if done ?

![image](https://user-images.githubusercontent.com/42484705/196743307-30731425-06c4-491d-9693-c1ec04ff7f52.png)

### Are you taking this fetaure implementaion

No

[2022-10-19 16:02] hugekontrast commented on #65
I've left only the button in there. And surely, I'll look into alert one.

[2022-10-19 16:11] jsvigneshkanna commented on #65
@hugekontrast ,

check PR's comment- https://github.com/jsvigneshkanna/tailwind_ui_components/pull/94#issuecomment-1284249147

[2022-10-19 16:13] jsvigneshkanna opened #95 "[FEATURE]: New tailwind css components"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues

and comment which is unassigned to build on

### Screenshot of the tailwind component

nill

### Are you taking this fetaure implementaion

no

[2022-10-19 16:19] jsvigneshkanna commented on #93
Sure @RohitShah1706

Also look at unassigned issue too

[2022-10-19 16:27] jsvigneshkanna commented on #93
@RohitShah1706 , any problem?

[2022-10-19 16:29] #65 closed

[2022-10-19 16:31] #82 closed

[2022-10-19 16:32] Harikarthyk commented on #53
Hey, I would like to contribute to this repo. Please assign this issue to me

[2022-10-19 16:33] jsvigneshkanna commented on #85
@hugekontrast , can you check this feature

[2022-10-19 16:34] #95 closed

[2022-10-19 16:34] GAURCODER commented on #88
@jsvigneshkanna plz assign this issue to me

[2022-10-19 16:35] jsvigneshkanna opened #97 "[FEATURE]: tailwind ui components"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues

and comment which is unassigned to build on

### Screenshot of the tailwind component

nill

### Are you taking this fetaure implementaion

no

[2022-10-19 16:36] jsvigneshkanna commented on #88
Sure @GAURCODER ,

also check for other alerts components too

[2022-10-19 16:37] jsvigneshkanna commented on #53
Sure @Harikarthyk ,

Also check for other issues too

[2022-10-19 16:38] chibuike-19 commented on #93
Can this be assigned to me?

[2022-10-19 16:39] jsvigneshkanna commented on #93
Sure @chibuike-19 ,

Also check for other issues too!

[2022-10-19 16:40] tanisha-tech360 commented on #88
Ya sure you can assign me this issue

[2022-10-19 16:42] #51 closed

[2022-10-19 16:42] tanisha-tech360 commented on #90
@jsvigneshkanna you can assign me this issue

[2022-10-19 16:43] jsvigneshkanna commented on #90
Sure, @tanisha-tech360 ,
also check for other issues too

[2022-10-19 16:59] jsvigneshkanna opened #98 "[FEATURE]: New tailwind CSS UI components"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues

and comment which is unassigned to build on

check - [tailwindcsscomponents.vercel.app/](https://tailwindcsscomponents.vercel.app/)

### Screenshot of the tailwind component

nill

### Are you taking this fetaure implementaion

no

[2022-10-19 17:32] #48 closed

[2022-10-19 17:38] iamkennis commented on #77
@jsvigneshkanna can you please help an icons , heroicon don't have icons for google play and I try using react-icons,it's doesn't import

[2022-10-19 17:44] jsvigneshkanna commented on #77
@iamkennis , you can use image instead

[2022-10-19 17:47] raazseth commented on #84
I want to contribute to this project. Please assign me!

[2022-10-19 17:48] raazseth commented on #87
Hey, I want to contribute to this project. Please assign me!

[2022-10-19 17:50] iamkennis commented on #77
@jsvigneshkanna okay

[2022-10-19 17:53] jsvigneshkanna commented on #87
@raazseth , sure please go on

Also check for other alert components too!

[2022-10-19 17:54] jsvigneshkanna commented on #84
@raazseth , go ahead!

[2022-10-19 17:55] jsvigneshkanna commented on #98
Hi @Khadeeejah

We already created issues for those, if you have more design - you can create new issue and work on that or check alert components too #86

[2022-10-19 17:57] AbhishekTiwari23 commented on #54
Ya, there was an exam at my college, so can you please give me a few hours, so that I can do a PR.
Thanks.

[2022-10-19 18:13] jsvigneshkanna commented on #54
No problem @AbhishekTiwari23
I was just asking whether you stuck with an issue

[2022-10-19 18:48] Rancho2002 commented on #90
Hi @jsvigneshkanna why you assign this someone else? i am doing it already

[2022-10-19 18:56] jsvigneshkanna commented on #90
@Rancho2002 ,

You can raise pr for this issue, will check the code

You are still assigned this issue, I asked other assignee to look for other issues

[2022-10-20 02:56] #90 closed

[2022-10-20 06:02] kuldeepmangla opened #103 "[Feature]: Add loader to pages"
### Feature Title

Add loader

### Description

Whenever we switch between the pages it takes time so I want to add loader in it

### Motivation

Whenever we switch between the pages it takes time so I want to add loader in it

### Issue Type

Frontend

### Screenshot of the feature if done ?

_No response_

### Are you taking this fetaure implementaion

yes

[2022-10-20 06:03] kuldeepmangla commented on #103
hey @jsvigneshkanna Can I add loader ?

[2022-10-20 06:05] jsvigneshkanna commented on #103
Sure @kuldeepmangla , great idea
You can work on this issue

[2022-10-20 06:07] #81 closed

[2022-10-20 06:33] deepaksuthar40128 commented on #86
Sir can you assign it to me 🙂

[2022-10-20 06:35] jsvigneshkanna commented on #86
Hi @deepaksuthar40128 ,
Assigning issue to your name, please follow the folder structure

Also check for other alert components in issue tab

[2022-10-20 06:41] #80 closed

[2022-10-20 06:43] jsvigneshkanna commented on #85
@Anuran12 ,
Can you take take this component

[2022-10-20 06:55] Anuran12 commented on #85
@jsvigneshkanna  Okay but i have some doubts. when i click a button the the alert will pop-up right ?

[2022-10-20 07:01] jsvigneshkanna commented on #85
Yeas, post alert you can close with cross icon

[2022-10-20 07:18] #77 closed

[2022-10-20 07:19] jsvigneshkanna commented on #85
@Anuran12 assigning to your name

[2022-10-20 09:23] #78 closed

[2022-10-20 10:24] iamkennis commented on #98
@jsvigneshkanna  can you add more issues

[2022-10-20 11:06] #79 closed

[2022-10-20 11:31] jsvigneshkanna opened #109 "[FEATURE]: Basic feature card in tailwindcss"
### Description

**Need to create code for Basic feature card  as per below image.**

- The final code should be placed under path `tailwind_components/feature_cards` with file name as `basic_card.jsx`
- The file as to be imported to `tailwind_components/feature_cards/collection.js` file as per example and added to the `featureCardColletion` list
- Post these process, go to components tab (compone

[2022-10-20 11:32] jsvigneshkanna opened #110 "[FEATURE]: Contact card in tailwindcss"
### Description

**Need to create code for Basic feature card  as per below image.**

- The final code should be placed under path `tailwind_components/feature_cards` with file name as `contact_card.jsx`
- The file as to be imported to `tailwind_components/feature_cards/collection.js` file as per example and added to the `featureCardColletion` list
- Post these process, go to components tab (compo

[2022-10-20 11:33] jsvigneshkanna commented on #98
@iamkennis , new issues added

[2022-10-20 11:34] jsvigneshkanna opened #111 "[FEATURE]: Learn More card in tailwindcss"
### Description

**Need to create code for Learn More feature card  as per below image.**

- The final code should be placed under path `tailwind_components/feature_cards` with file name as `learn_more_card.jsx`
- The file as to be imported to `tailwind_components/feature_cards/collection.js` file as per example and added to the `featureCardColletion` list
- Post these process, go to components ta

[2022-10-20 11:34] iamkennis commented on #109
@jsvigneshkanna   assign me

[2022-10-20 11:35] jsvigneshkanna commented on #109
@iamkennis  Sure, also check other issues

[2022-10-20 11:35] iamkennis commented on #110
@jsvigneshkanna   assign me

[2022-10-20 11:36] jsvigneshkanna opened #112 "[FEATURE]: product card in tailwindcss"
### Description

**Need to create code for product card feature card  as per below image.**

- The final code should be placed under path `tailwind_components/feature_cards` with file name as `product_card1.jsx`
- The file as to be imported to `tailwind_components/feature_cards/collection.js` file as per example and added to the `featureCardColletion` list
- Post these process, go to components ta

[2022-10-20 11:36] jsvigneshkanna commented on #110
@iamkennis assigning you

[2022-10-20 11:38] jsvigneshkanna opened #113 "[FEATURE]: Brand card in tailwindcss"
### Description

**Need to create code for Brand card feature card  as per below image.**

- The final code should be placed under path `tailwind_components/feature_cards` with file name as `brand_card.jsx`
- The file as to be imported to `tailwind_components/feature_cards/collection.js` file as per example and added to the `featureCardColletion` list
- Post these process, go to components tab (co

[2022-10-20 12:05] Anuran12 commented on #113
@jsvigneshkanna  like to work on this

[2022-10-20 12:08] jsvigneshkanna commented on #39
Hi @GeorgeET15 , any updates?

[2022-10-20 12:09] jsvigneshkanna commented on #52
Hi @RachitGarg-12 , any updates,
let me know if help needed

[2022-10-20 12:14] tanisha-tech360 commented on #111
Hey can you please assign me this issue?

[2022-10-20 12:19] jsvigneshkanna commented on #111
Hi @tanisha-tech360 ,
Sure you can work on this issue, also check for other card components too

[2022-10-20 12:20] Anuran12 commented on #85
@jsvigneshkanna well i cant make the working function with only html. it needs js

[2022-10-20 12:22] jsvigneshkanna commented on #85
@Anuran12 , then dont need to add closing or pop function

Its fine to show the design alone, end users can reuse this and add their functionalities

[2022-10-20 12:25] Anuran12 commented on #85
@jsvigneshkanna  but still i would like to experiment something so i am making a pr please don't merge this now.

[2022-10-20 12:27] jsvigneshkanna commented on #85
yaeh sure, comment on PR when its ready to merge @Anuran12

[2022-10-20 12:58] jsvigneshkanna opened #115 "[FEATURE]: Testimonial card with stars in tailwindCSS"
### Description

**Need to create code for Testimonial card with stars card as per below image.**

- The final code should be placed under path `tailwind_components/testimonial_cards` with file name as `photo_star_testimonial.jsx`
- The file as to be imported to `tailwind_components/testimonial_cards/collection.js` file as per example and added to the `testimonialCardsCollections` list
- For photo

[2022-10-20 13:00] jsvigneshkanna opened #116 "[FEATURE]: Links Testimonial card in tailwindCSS"
### Description

**Need to create code for Links Testimonial card as per below image.**

- The final code should be placed under path `tailwind_components/testimonial_cards` with file name as `social_link_testimonial.jsx`
- The file as to be imported to `tailwind_components/testimonial_cards/collection.js` file as per example and added to the `testimonialCardsCollections` list
- For photo in card,

[2022-10-20 13:01] jsvigneshkanna opened #117 "[FEATURE]: Horizontal Testimonial card in tailwindCSS"
### Description

**Need to create code for Horizontal Testimonial card with stars card as per below image.**

- The final code should be placed under path `tailwind_components/testimonial_cards` with file name as `horizontal_testimonial.jsx`
- The file as to be imported to `tailwind_components/testimonial_cards/collection.js` file as per example and added to the `testimonialCardsCollections` list

[2022-10-20 13:02] jsvigneshkanna opened #118 "[FEATURE]: Vertical testimonial card in tailwindCSS"
### Description

**Need to create code for Vertical Testimonial card with stars card as per below image.**

- The final code should be placed under path `tailwind_components/testimonial_cards` with file name as `vertical_testimonial.jsx`
- The file as to be imported to `tailwind_components/testimonial_cards/collection.js` file as per example and added to the `testimonialCardsCollections` list
- Fo

[2022-10-20 13:06] jsvigneshkanna opened #119 "[FEATURE]: New tailwind components designing"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues

and comment which is unassigned to build on

check this website to find and new issues/ features too - [tailwindcsscomponents.vercel.app/](https://tailwindcsscomponents.vercel.app/)

### Screenshot of the tailwind component

nill

### Are you taking this fetaure implementaion

no

[2022-10-20 13:36] Ankur2606 commented on #115
Please assign me this task , I'll  reach back to you in the morning ist.

[2022-10-20 13:37] Ankur2606 commented on #116
Please assign me this task , I'll  reach back to you in the morning ist.

[2022-10-20 13:37] jsvigneshkanna opened #121 "New tailwind UI components"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues

and comment which is unassigned to build on

check this website to find and new issues/ features too - [tailwindcsscomponents.vercel.app/](https://tailwindcsscomponents.vercel.app/)

### Screenshot of the tailwind component

Nill

### Are you taking this fetaure implementaion

no

[2022-10-20 13:39] Ankur2606 commented on #118
Please assign me this task , I'll  reach back to you tomorrow at night time ist.

[2022-10-20 13:39] jsvigneshkanna commented on #116
Great @Ankur2606
please follow the folder structure and take reference for other PRs

[2022-10-20 13:40] jsvigneshkanna commented on #117
@Ankur2606 assigning to you, please dont forget to to raise PRs, as we are assinging 3 issues to your name

[2022-10-20 13:41] jsvigneshkanna commented on #118
@Ankur2606 , we only assign 3 issues at a time

[2022-10-20 13:42] #113 closed

[2022-10-20 13:43] Anuran12 commented on #112
@jsvigneshkanna like to work on this

[2022-10-20 13:43] jsvigneshkanna commented on #112
@Anuran12 ,
Please make sure, the final result is same as screenshot (us image with transparency)

[2022-10-20 13:44] jsvigneshkanna commented on #118
Sure @Ankur2606
Please make sure the result is same as screenshot

[2022-10-20 14:07] jsvigneshkanna commented on #103
closing as done @kuldeepmangla ,

Check other issues like https://github.com/jsvigneshkanna/tailwind_ui_components/issues/40 https://github.com/jsvigneshkanna/tailwind_ui_components/issues/53 https://github.com/jsvigneshkanna/tailwind_ui_components/issues/54

[2022-10-20 14:07] #103 closed

[2022-10-20 14:26] #88 closed

[2022-10-20 15:26] jsvigneshkanna opened #124 "Standard pricing card in tailwindCSS"
### Description

**Need to create code for Standard pricing card as per below image. **

- The final code should be placed under path `tailwind_components/pricing_cards` with file name as `standard_pricing.jsx`
- The file as to be imported to `tailwind_components/pricing_cards/collection.js` file as per example and added to the `pricingCardsCollections` list
- Post these process, go to components

[2022-10-20 15:27] jsvigneshkanna opened #125 "Pricing card with button in tailwindCSS"
### Description

**Need to create code for Pricing card with button as per below image. **

- The final code should be placed under path `tailwind_components/pricing_cards` with file name as `pricing_with_button.jsx`
- The file as to be imported to `tailwind_components/pricing_cards/collection.js` file as per example and added to the `pricingCardsCollections` list
- Post these process, go to compo

[2022-10-20 15:29] jsvigneshkanna opened #126 "pricing card with ribbon in tailwindCSS"
### Description

**Need to create code for pricing card with ribbon as per below image. **

- The final code should be placed under path `tailwind_components/pricing_cards` with file name as `pricing_card_ribbon.jsx`
- The file as to be imported to `tailwind_components/pricing_cards/collection.js` file as per example and added to the `pricingCardsCollections` list
- Post these process, go to compo

[2022-10-20 15:30] jsvigneshkanna opened #127 "small pricing card in tailwindCSS"
### Description

**Need to create code for small pricing card as per below image. **

- The final code should be placed under path `tailwind_components/pricing_cards` with file name as `small_pricing_card.jsx`
- The file as to be imported to `tailwind_components/pricing_cards/collection.js` file as per example and added to the `pricingCardsCollections` list
- Post these process, go to components t

[2022-10-20 15:30] uttampandit commented on #124
Hi @jsvigneshkanna I can work on this card component. If you can assign me?

[2022-10-20 15:32] jsvigneshkanna opened #128 "vertical pricing card in tailwindCSS"
### Description

**Need to create code for vertical pricing card as per below image. **

- The final code should be placed under path `tailwind_components/pricing_cards` with file name as `vertical_pricing.jsx`
- The file as to be imported to `tailwind_components/pricing_cards/collection.js` file as per example and added to the `pricingCardsCollections` list
- Post these process, go to components

[2022-10-20 15:33] jsvigneshkanna commented on #124
Sure @uttampandit ,

Please also look for other pricing cards too, follow the folder structure taking reference from closed PRs

[2022-10-20 15:33] #93 closed

[2022-10-20 15:44] uttampandit commented on #124
Sure

[2022-10-20 15:47] jsvigneshkanna commented on #125
Sure @chibuike-19

Great involvement, appreciate that!

[2022-10-20 15:57] jsvigneshkanna commented on #53
Hi @Harikarthyk ,
let me know if any help needed on this issue!

[2022-10-20 15:57] jsvigneshkanna commented on #89
Hi @streetcodec ,
let me know if any help needed on this issue!

[2022-10-20 15:58] jsvigneshkanna commented on #91
Hi @Matl3us ,
let me know if any help needed on this issue!

[2022-10-20 15:58] jsvigneshkanna commented on #92
Hi @HondaChan14 ,
let me know if any help needed on this issue!

[2022-10-20 15:58] raazseth commented on #84
Just made a new PR, Please check it

[2022-10-20 16:03] raazseth commented on #87
There is no hacktoberfest-accepted label, So I just need confirmation if this part of the code is Hacktoberfest or not.

[2022-10-20 16:07] jsvigneshkanna commented on #87
@raazseth ,

Apologies, missed this isssue's labels. But your PR would be counted to hacktoberfest as this repo has `hacktoberfest` labels
![image](https://user-images.githubusercontent.com/42484705/197001121-d2a905fd-07db-46ec-8128-1791a6852f27.png)

[2022-10-20 16:10] chibuike-19 commented on #125
Thanks @jsvigneshkanna!

[2022-10-20 16:16] jsvigneshkanna commented on #38
Hi @sanket-16 , any updates

Let me know is help needed

[2022-10-20 16:18] raazseth commented on #84
Hey,

I have pushed the code of issue #84 not #87 but you have closed the issue of 87 instead of 84. Please update it!

[2022-10-20 16:19] jsvigneshkanna commented on #84
Sorry my bad @raazseth ,
Sleepless night effect 🤪

[2022-10-20 16:20] jsvigneshkanna commented on #87
@raazseth , reopened this issue, this will be counted towards hacktoberfest

[2022-10-20 16:21] jsvigneshkanna commented on #84
Closing this issue as done thank you @raazseth

[2022-10-20 16:21] #84 closed

[2022-10-20 16:26] sanket-16 commented on #38
Do check out https://tailwindui.com/components

I'm in the middle of implementing this layout. Lemme know your thoughts.

[2022-10-20 16:27] streetcodec commented on #89
Thanks @jsvigneshkanna I have made a PR, please review it!

[2022-10-20 16:30] #89 closed

[2022-10-20 16:32] jsvigneshkanna commented on #38
Looks good @sanket-16 ,
Do check the existing components card page by recreating this layout and make sure existing dark mode color palete used

Aprreciate that !

[2022-10-20 16:33] Kabiirk commented on #127
Hi,

Can you please assign this to me ?

[2022-10-20 16:34] Kabiirk commented on #126
Hi,

Can you please assign this to me ?

[2022-10-20 16:35] jsvigneshkanna commented on #127
Welcome back @Kabiirk
Also look for other issues too

Appreciate that!

[2022-10-20 16:35] jsvigneshkanna commented on #126
Great @Kabiirk
Please make sure the design is same in result and have ribbon at top right

[2022-10-20 16:37] jsvigneshkanna commented on #91
@streetcodec ,
Can you check this issue?

[2022-10-20 16:40] streetcodec commented on #91
Yes @jsvigneshkanna , Please assign this to me! Will be interested to work on it!

[2022-10-20 16:41] jsvigneshkanna commented on #91
Great @streetcodec

Also check pricing cards too as you can learn more from there

[2022-10-20 16:44] streetcodec commented on #91
@jsvigneshkanna Yes! Checked and will do them one by one!

[2022-10-20 16:53] jsvigneshkanna opened #133 "New FAQ page for website"
### Feature Title

FAQ page

### Description

Need to create new FAQ component which has below questions ( i will add the answers in PR) and display the component in homepage below banner

Question,

1. What is Tailwind Bootstrap
2. Who drives this website
3. What all components are there in this website
4. Can we play around with tailwindcss codes
5. Is there any pricing or subscription
6. How ca

[2022-10-20 16:59] pratyushkr11 commented on #133
Hi @jsvigneshkanna sir,  Please assign me this issue. I can help you with this.

[2022-10-20 16:59] jsvigneshkanna commented on #133
@dishantzaveri
Great welcome to our community

[2022-10-20 17:09] jsvigneshkanna opened #134 "Social media icons+links for website"
### Feature Title

Social links

### Description

We need to create new NextJS component which displays social media icons with clickable hyperlinks, Please follow below reference for design in tailwindcss.

Code reference - https://codepen.io/Vigneshkanna-js/pen/PoerVNX

### Motivation

Website without social media links ? Uhfff 🥲

### Issue Type

Frontend

### Screenshot of the feature if done ?

[2022-10-20 17:09] jsvigneshkanna commented on #133
@pratyushkr11 , can you check issue #134

[2022-10-20 17:18] javamultiplex commented on #134
@jsvigneshkanna  - I would like to work on this. Can you please assign to me?

[2022-10-20 17:21] jsvigneshkanna commented on #134
Sure @javamultiplex Sir,

Please make sure the new component is mobile responsive

[2022-10-20 17:24] streetcodec commented on #91
@jsvigneshkanna should my version contain 4 buttons? And should the checkbox be like the one in picture, hollow from insode rest blue, or filled completely on check?

[2022-10-20 17:30] jsvigneshkanna commented on #91
Yes @streetcodec ,
We can have 2/3 radios and color palette should be same as screenshot

[2022-10-20 17:34] raazseth commented on #87
Made a new PR #135. Please check it!

[2022-10-20 17:40] jsvigneshkanna opened #137 "Simple contact form in tailwindCSS"
### Description

**Need to create code for Simple contact form as per below image. **

- The final code should be placed under path `tailwind_components/contact_forms` with file name as `standard_contact_form.jsx`
- The file as to be imported to `tailwind_components/contact_forms/collection.js` file as per example and added to the `contactFormsCollection` list
- Post these process, go to component

[2022-10-20 17:41] streetcodec commented on #91
@jsvigneshkanna I have made the PR for this! Please Review and if any changes are to be done, please suggest!

[2022-10-20 17:41] jsvigneshkanna opened #139 "Vertical contact form in tailwindCSS"
### Description

**Need to create code for Vertical contact form as per below image. **

- The final code should be placed under path `tailwind_components/contact_forms` with file name as `vertical_contact_form.jsx`
- The file as to be imported to `tailwind_components/contact_forms/collection.js` file as per example and added to the `contactFormsCollection` list
- Post these process, go to compone

[2022-10-20 17:42] jsvigneshkanna opened #140 "Contact form with Image in tailwindCSS"
### Description

**Need to create code for Contact form with Image as per below image. **

- The final code should be placed under path `tailwind_components/contact_forms` with file name as `image_contact_form.jsx`
- The file as to be imported to `tailwind_components/contact_forms/collection.js` file as per example and added to the `contactFormsCollection` list
- Post these process, go to componen

[2022-10-20 17:43] jsvigneshkanna opened #141 "Subscription form in tailwindCSS"
### Description

**Need to create code for subscription form as per below image. **

- The final code should be placed under path `tailwind_components/contact_forms` with file name as `subscription_contact_form.jsx`
- The file as to be imported to `tailwind_components/contact_forms/collection.js` file as per example and added to the `contactFormsCollection` list
- Post these process, go to compone

[2022-10-20 17:47] Myrfion commented on #141
Hi could u please assign this to me

[2022-10-20 17:48] javamultiplex commented on #134
@jsvigneshkanna  - Can you please share the steps to start the application? I can't find on README.md file.

[2022-10-20 17:49] salvadorgonmo commented on #141
Hey @Myrfion let me know if you need a hand on this after you take it, would be happy to help.

[2022-10-20 17:50] #91 closed

[2022-10-20 17:51] #118 closed

[2022-10-20 17:53] jsvigneshkanna commented on #134
@javamultiplex ,

1. npm install (install all the dependencies)
2. npm run dev
3. it connects to localhost:3000
4. make changes and commit your code

[2022-10-20 17:54] Anuran12 commented on #137
@jsvigneshkanna  I would like to work on this

[2022-10-20 17:54] jsvigneshkanna commented on #141
Thank you @Myrfion for checking this repo, make sure design is followed and refer the other PRs for folder structure to reflect your code in webiste's codepen

[2022-10-20 17:55] Anuran12 commented on #139
@jsvigneshkanna  like to work on this

[2022-10-20 17:55] jsvigneshkanna commented on #137
Sleepless night @Anuran12 ?
Assigning you this issue

[2022-10-20 17:56] jsvigneshkanna commented on #139
@Anuran12 please go on ⚡⚡

[2022-10-20 17:57] jsvigneshkanna commented on #139
@Anuran12 please also check other issues which are assigned to you #112

[2022-10-20 18:06] jsvigneshkanna opened #142 "Need documentation of website (video)"
### Feature Title

Video on how to use the website

### Description

As the website - https://tailwindcsscomponents.vercel.app/ is growing very fast ⚡ than what we expect and as this website is entering `product hunt` in next week, we need a video recorded on how to use all the features of the website

The video can be of length 1-2 minutes and should have all the necessary information from the we

[2022-10-20 18:07] abhi87374 commented on #140
can you assign this task to me, I'll try...

[2022-10-20 18:23] jsvigneshkanna opened #143 "New tailwindcss ui components"
### Feature Title

Tailwind ui components

### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues, and comment which is unassigned to build on.

Create a new issue for navbars, and footer components design which can be built and any one of the moderators will assign that to you

The components will be showcased on the website with your name/ GitHub lin

[2022-10-20 18:37] javamultiplex commented on #134
Social media icons location is correct ? or it should be somewhere else?

<img width="1440" alt="Screenshot 2022-10-21 at 12 02 21 AM" src="https://user-images.githubusercontent.com/29012369/197030043-ffda5134-3b66-48e0-a718-a5a7f0684803.png">

[2022-10-20 18:44] jsvigneshkanna commented on #134
@javamultiplex ,
Please it as a seperate component named `socialButtons` and keep it components folder

We basically need it above footer and under contact form which are both under construction

[2022-10-20 18:47] jsvigneshkanna commented on #87
Closing as done @raazseth
Thank you for your valuable contributions

[2022-10-20 18:47] jsvigneshkanna commented on #87
The

[2022-10-20 18:47] #87 closed

[2022-10-20 18:48] javamultiplex commented on #134
@jsvigneshkanna  - Correct me If I am wrong, as part of this issue, I just need to create the socialButtons component? There is no need to place it below Home Page Banner?

[2022-10-20 18:50] jsvigneshkanna commented on #134
@javamultiplex
For now, we can display new component under banner which need padding and background color as component page,

[2022-10-20 19:12] jsvigneshkanna opened #145 "[Bug]: update Readme with npm cmds"
### Bug Title

Update readme

### Description of BUG

The readme of the repo doesn't have npm commands that we use during development. Add those to the readme

Add the below points under the cotribution section

1. Checkout to the forked repo with a new branch for each PR/issue
2. `npm install` to install all js dependencies
3. `npm run dev` to start the local web server
4. Connect to localhost:30

[2022-10-20 19:24] Yordaniss commented on #145
Hello @jsvigneshkanna i could take this issue. Can you please assign this to me?

[2022-10-20 19:26] jsvigneshkanna commented on #145
Hi @Yordaniss
Welcome to 😎 community, also it would be appreciated if issue #142 is taken

[2022-10-21 02:51] jsvigneshkanna commented on #142
Hi @itsagift ,
I Didnt thought of narration, but if you like to add that its appreciable
Are you taking this issue, can i assigne tou you?

[2022-10-21 03:18] Ankur2606 commented on #115
I'll resolve all three issues and send pr by tonight . Sorry for the delay.

[2022-10-21 03:25] jsvigneshkanna commented on #115
No problem @Ankur2606
Make sure not to encounter plagiarism from any website, as we thrive to keep these components unique

Let me know if any help needed

[2022-10-21 05:57] Yordaniss commented on #145
@jsvigneshkanna with video im not sure if i could do this. I let the opportunity for someone else to contribute to this project 😉

For this issue i have already created a PR. Please review this and let me know if some changes are required.

[2022-10-21 05:58] #145 closed

[2022-10-21 06:00] jsvigneshkanna commented on #145
@Yordaniss
The PR looked perfect as per the requirement,  appreciate that

Please keep this repo in your watchlist to get notifed when new issues or feature request raised

[2022-10-21 07:02] 889-dj commented on #143
heyy @jsvigneshkanna can i give it a try 😃

[2022-10-21 07:20] jsvigneshkanna commented on #143
@889-dj , sure you can go ahead with building navbars components

[2022-10-21 09:18] uttampandit commented on #124
Hi @jsvigneshkanna does the card also includes green border?

[2022-10-21 09:24] Swap-Nova commented on #142
I would like to work on this. Can you assign it to me?

[2022-10-21 09:33] jsvigneshkanna commented on #142
@Swap-Nova , Sure
Will assign you too, Having 2 video documentations would be good

[2022-10-21 09:35] Swap-Nova commented on #142
Thank you, I will work on it.

[2022-10-21 09:41] Swap-Nova commented on #142
For the video do you need any narration or the working of the components itself?

[2022-10-21 09:43] #128 closed

[2022-10-21 09:45] #112 closed

[2022-10-21 09:47] jsvigneshkanna commented on #142
@Swap-Nova ,
You can show each pages of the website, how many components are there in components page and how to use those components by playing in codepen playground

We dont need narration, simple soothing bg-music is enough

[2022-10-21 09:48] jsvigneshkanna commented on #124
@uttampandit , yes

[2022-10-21 09:53] jsvigneshkanna commented on #86
Closing as done

[2022-10-21 09:53] #86 closed

[2022-10-21 10:13] Swap-Nova commented on #142
Okay sounds good. Thanks for the suggestions.

[2022-10-21 10:18] #124 closed

[2022-10-21 10:40] jsvigneshkanna opened #156 "navbar with social icons in tailwindCSS"
### Description

**Need to create code for navbar with social icons with Image as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `navbar_social_icons.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components t

[2022-10-21 10:41] uttampandit commented on #156
Hi @jsvigneshkanna again, I can work on this, can you please assign me?

[2022-10-21 10:42] jsvigneshkanna opened #157 "Simple logo navbar in tailwindCSS"
### Description

**Need to create code for Simple logo navbar with Image as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `standard_logo_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (c

[2022-10-21 10:42] udaykahar commented on #156
Hi @jsvigneshkanna , I can work on this, can you please assign me?

[2022-10-21 10:42] jsvigneshkanna commented on #156
Hi @uttampandit ,

Yeah sure, also check for other navbars if you can build those

[2022-10-21 10:43] jsvigneshkanna commented on #156
@udaykahar ,

Can you please take issue #157

[2022-10-21 10:44] jsvigneshkanna commented on #156
@udaykahar , comment over there #157 , will asign that to you

[2022-10-21 10:45] uttampandit commented on #157
Hi @jsvigneshkanna do we have to add any logo or just have to leave it blank?I can work on it as well.

[2022-10-21 10:46] jsvigneshkanna opened #158 "Hovering navbar in tailwindCSS"
### Description

**Need to create code for Hovering navbar  as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `hover_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (components/navbars) in

[2022-10-21 10:47] jsvigneshkanna commented on #157
@uttampandit ,
you can add your photo/ logo if in case you have and link that with your github on click 😎

[2022-10-21 10:47] Iam-SilentEyes commented on #158
Can you assign me to this

[2022-10-21 10:48] uttampandit commented on #157
Sure @jsvigneshkanna!

[2022-10-21 10:49] jsvigneshkanna opened #159 "Animated navbar component in tailwindCSS"
### Description

**Need to create code for Animated navbar component as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `animated_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (components

[2022-10-21 10:50] jsvigneshkanna commented on #158
Sure @Iam-SilentEyes ,

Also check for other issues too!

[2022-10-21 10:50] uttampandit commented on #159
Hi @jsvigneshkanna I can work on it, please assign me.

[2022-10-21 10:51] jsvigneshkanna commented on #159
@uttampandit  yeah but, lets wait for sometime for other contributors too. If no pick up this in an hour, then I will assign this to you!

[2022-10-21 10:54] jsvigneshkanna opened #160 "Center navbar with dropdown component in tailwindCSS"
### Description

**Need to create code for Center navbar with dropdown component as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `center_dropdown_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to compone

[2022-10-21 10:57] jsvigneshkanna opened #161 "Standard mobile navbar component in tailwindCSS"
### Description

**Need to create code for Standard mobile navbar component as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `standard_mobile_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components t

[2022-10-21 11:00] jsvigneshkanna opened #162 "mobile navbar with Icons in tailwindCSS"
### Description

**Need to create code for mobile navbar with Icons as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `mobile_nav_icons.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (components

[2022-10-21 11:02] jsvigneshkanna opened #163 "Mobile navbar with dropdown in tailwindCSS"
### Description

**Need to create code for Mobile navbar with dropdown as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `mobile_nav_dropdown.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (comp

[2022-10-21 11:04] streetcodec commented on #159
I am interested in this! Please assign! @jsvigneshkanna

[2022-10-21 11:04] jsvigneshkanna opened #164 "navbar with search function in tailwindCSS"
### Description

**Need to create code for navbar with search function as per below image. **

- The final code should be placed under path `tailwind_components/navbars` with file name as `search_navbar.jsx`
- The file as to be imported to `tailwind_components/navbars/collection.js` file as per example and added to the `navbarCollections` list
- Post these process, go to components tab (components

[2022-10-21 11:05] jsvigneshkanna commented on #159
welcome back @streetcodec 🤪
Also check for other navbar components too~

[2022-10-21 11:05] jsvigneshkanna commented on #163
![GodDiosGIF](https://user-images.githubusercontent.com/42484705/197181889-f2dd10fe-8739-47ab-9d09-cf88c54e1643.gif)
@streetcodec

[2022-10-21 11:06] streetcodec commented on #162
I am also interested here, please assign me this! @jsvigneshkanna I know to told me to only have atmost 2 assigned, but I want to do this too, please assign, if it's okay!

[2022-10-21 11:07] jsvigneshkanna commented on #162
@streetcodec please make sure all 3 PRs are done 🙏

[2022-10-21 11:13] Anuran12 commented on #164
@jsvigneshkanna  i would like to work on this

[2022-10-21 11:17] jsvigneshkanna commented on #164
Sure @Anuran12 ,
Please make sure all 3 PRs are raised 🙏

[2022-10-21 11:21] uttampandit commented on #160
HI @jsvigneshkanna I can work on this too. Can you assign me please?

[2022-10-21 11:26] jsvigneshkanna commented on #160
Sure @uttampandit , please make sure all 3 PRs are raised

[2022-10-21 11:26] uttampandit commented on #160
Yeah I will

[2022-10-21 11:36] jsvigneshkanna opened #165 "Colorful badges in tailwindCSS"
### Description

**Need to create code for Colorful badges as per below image. **

- The final code should be placed under path `tailwind_components/badges` with file name as `colorful_badgejsx`
- The file as to be imported to `tailwind_components/badges/collection.js` file as per example and added to the `badgeCollection` list
- Post these process, go to components tab (components/badges) in webs

[2022-10-21 11:38] jsvigneshkanna opened #166 "Badge with dots/ icons in tailwindCSS"
### Description

**Need to create code for Badge with dots/ icons as per below image. **

- The final code should be placed under path `tailwind_components/badges` with file name as `icon_badgejsx`
- The file as to be imported to `tailwind_components/badges/collection.js` file as per example and added to the `badgeCollection` list
- Post these process, go to components tab (components/badges) in w

[2022-10-21 11:40] jsvigneshkanna opened #167 "Closing badge component in tailwindCSS"
### Description

**Need to create code for Closing badge component as per below image. **

- The final code should be placed under path `tailwind_components/badges` with file name as `close_badgejsx`
- The file as to be imported to `tailwind_components/badges/collection.js` file as per example and added to the `badgeCollection` list
- Post these process, go to components tab (components/badges) in

[2022-10-21 11:42] jsvigneshkanna opened #168 "Simple card with top badge in tailwindCSS"
### Description

**Need to create code for Simple card with top badge as per below image. **

- The final code should be placed under path `tailwind_components/badges` with file name as `card_badgejsx`
- The file as to be imported to `tailwind_components/badges/collection.js` file as per example and added to the `badgeCollection` list
- Post these process, go to components tab (components/badges)

[2022-10-21 11:43] jsvigneshkanna commented on #166
Hi @Muhammad-Shahid-Jamal
Welcome to our community, also check for other badges components too in issue tab

[2022-10-21 11:44] Muhammad-Shahid-Jamal commented on #167
Assign this to me as well.

[2022-10-21 11:44] jsvigneshkanna opened #169 "tailwind Component designs"
### Description

Check the issue tab https://github.com/jsvigneshkanna/tailwind_ui_components/issues, and comment which is unassigned to build on.

Create a new issue for navbars, and footer, badges components design which can be built and any one of the moderators will assign that to you

The components will be showcased on the website with your name/ GitHub links (in development not yet pushed t

[2022-10-21 11:45] jsvigneshkanna commented on #167
Sure @Muhammad-Shahid-Jamal ,
Please follow the folder structure to make codepen work as expected, refer other PRs

[2022-10-21 11:46] jsvigneshkanna commented on #109
Hi @iamkennis , let me know if help needed

[2022-10-21 11:47] vaibhavg20comp commented on #168
Hey @jsvigneshkanna  I would love to work on  this.Please assign this to me

[2022-10-21 11:49] jsvigneshkanna commented on #168
Welcome to our community @vaibhavg20comp
Please make sure the folder structure is as per other PRs
Also check other issues which are open

[2022-10-21 11:58] alkhimch commented on #165
Can i handle this ? @jsvigneshkanna

[2022-10-21 12:00] jsvigneshkanna commented on #165
Sure @alkhimch , you build this one
Please make the size and border radius different for each badge and follow the folder structure for codepen in website to work as expected

Let me know if any issues while building

[2022-10-21 12:04] alkhimch commented on #165
Of course :)

[2022-10-21 12:08] streetcodec commented on #161
Please assign this to me! @jsvigneshkanna

[2022-10-21 12:11] jsvigneshkanna commented on #161
@streetcodec , can we wait for an hour so that other contributors can take this.
If no one picks in an hour, i will assign this to you

[2022-10-21 12:20] iamkennis commented on #109
@jsvigneshkanna  sorry i was cut up with other things, I will make some PR soon

[2022-10-21 12:21] jsvigneshkanna commented on #109
@iamkennis take your time

[2022-10-21 14:28] udaykahar commented on #156
sure

[2022-10-21 14:28] rakicodes commented on #161
i would like to give it a try!

[2022-10-21 14:59] #109 closed

[2022-10-21 15:43] #165 closed

[2022-10-21 15:44] #127 closed

[2022-10-21 15:45] jsvigneshkanna commented on #111
Hi @tanisha-tech360 ,
let me know if any help needed

[2022-10-21 15:45] jsvigneshkanna commented on #140
Hi @omkarguravv
let me know if any help needed

[2022-10-21 16:06] omkarguravv commented on #140
From where i can get the image which is on right of mock-up?

[2022-10-21 17:02] #126 closed

[2022-10-21 17:33] kashish0604 commented on #157
hey @jsvigneshkanna can u assign this issue to me i can work on it

[2022-10-21 17:35] jsvigneshkanna commented on #157
Hi @kashish0604 ,
you can build this component too (use your own logo and color palete) and make sure to follow below folder structure (NOT THAT IN THE DESCRIPTION)

- The final code should be placed under path tailwind_components/navbars with file name as standard_logo_navbar.jsx
- The file as to be imported to tailwind_components/navbars/collection.js file as per example and added to the navbarC

[2022-10-21 19:08] #159 closed

[2022-10-22 03:02] #161 closed

[2022-10-22 03:14] #115 closed

[2022-10-22 03:22] jsvigneshkanna opened #179 "Retain github and linkedin social icons in mobile"
### Bug Title

Social icons in mobile view

### Description of BUG

We need to have only GitHub and LinkedIn social media icons on all pages, as it doesnt look nice to have 6 icons for mobile view

This is only gor mobile view and the styling changes should be made in socialButton component tailwindCSS

### Reporduction URL of bug

Nill

### Bug Issue Type

Frontend

### Screenshot of the issue if

[2022-10-22 03:37] eddybruv commented on #179
Hello @jsvigneshkanna, I'm new here
can I work on this task while I try to familiarise myself with the code base?

[2022-10-22 03:53] jsvigneshkanna commented on #179
Welcome @eddybruv
Go through the codebase and play around it, check how tailwind components are showcased

Let me know in any issues if you can take those too

[2022-10-22 03:56] jsvigneshkanna opened #180 "Logo in footer not centered"
### Bug Title

Wrong footer logo alignment

### Description of BUG

Tailwind bootstrap logo in footer not centered in mobile view
Llease center that

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/42484705/197318053-88bee13c-fb3d-4966-90ab-0d5c02

[2022-10-22 04:30] #180 closed

[2022-10-22 04:40] jsvigneshkanna opened #182 "New page for displaying contributors in nextjs"
### Feature Title

Contributors page

### Description

Need to create a new page named "contributors" which should have a navbar, contributors component and footer

The new contributor component should get this repo contributor to display pictures and name/ GitHub link and display them as a card
Follow the footer background colour gradient for this new component

The styling should be done only in

[2022-10-22 05:35] AnnieDebbie commented on #182
Hello
I would love to work on this issue. Please assign it to me

[2022-10-22 05:38] jsvigneshkanna commented on #182
@AnnieDebbie great
Thanks for checking this repo, creativity on design is upto you but please follow the color palette alone

[2022-10-22 05:56] #116 closed

[2022-10-22 06:14] sanket-16 commented on #38
Hey @jsvigneshkanna ,
Here's something I whipped up.. Lemme know your thoughts! Added bonus it's responsive and already written in tailwind!

![gif](https://media1.giphy.com/media/9h96q9hWvbdvH84HsZ/giphy.gif?cid=790b7611a83c99270066845a5238ef40144aa329c5509b75&rid=giphy.gif&ct=g)

[2022-10-22 06:23] jsvigneshkanna commented on #38
@sanket-16
I would prefer to have the components in new pages rather than in homepage itself

Can you check live website now

[2022-10-22 06:29] jsvigneshkanna commented on #38
The objective of this issue is to only make styling to `component_page` where it shows type of component/ image/ brief of that

[2022-10-22 06:30] jsvigneshkanna commented on #38
@sanket-16 , something like that

![image](https://user-images.githubusercontent.com/42484705/197324059-ae2ca8b1-8d3b-479b-9ba3-77bd8fa175ff.png)

[2022-10-22 06:46] sanket-16 commented on #38
@jsvigneshkanna so is the design fine I'll just use the same card for displaying component types?

[2022-10-22 06:58] jsvigneshkanna commented on #38
Yes

[2022-10-22 07:55] jsvigneshkanna commented on #142
@Swap-Nova
You can record video now as the website is revamped and styles are enhanced, please attach the recored video in public folder of this repo

[2022-10-22 08:05] sanket-16 commented on #38
This good enough?
![image](https://user-images.githubusercontent.com/64531568/197328150-eafefe81-c286-4e3b-be87-b49747f0e88d.png)

[2022-10-22 08:24] jsvigneshkanna commented on #38
@sanket-16 , what about having exisiting bg-color for cards but creating some text above and search buttons like that

[2022-10-22 08:27] jsvigneshkanna commented on #38
@sanket-16 , this is because - I somehow like the existing minimalistic design but want some searching functions in component page like other website. Can you create that ?

![image](https://user-images.githubusercontent.com/42484705/197329341-6e12775f-a0c7-473c-9bd5-1adf11f50bc3.png)

[2022-10-22 09:06] jsvigneshkanna commented on #111
@tanisha-tech360,
can you raise PR which you showed in discord

[2022-10-22 09:07] jsvigneshkanna commented on #137
Any updates @Anuran12 ?

[2022-10-22 09:08] jsvigneshkanna commented on #141
@Myrfion / @salvadorgonmo any updates?

[2022-10-22 09:40] Swap-Nova commented on #142
Okay got it. Will work on it.

[2022-10-22 12:46] #137 closed

[2022-10-22 12:49] #139 closed

[2022-10-22 12:59] #164 closed

[2022-10-22 13:26] #162 closed

[2022-10-22 13:29] #163 closed

[2022-10-22 14:23] Rosh-h commented on #142
hello @jsvigneshkanna  can you assign this is work to me.

[2022-10-22 14:46] jsvigneshkanna commented on #142
@Rosh-h sure, you too can create a nice video with soothing background about our website

[2022-10-22 15:00] udaykahar commented on #157
Can i also contribute in this?

[2022-10-22 15:15] jsvigneshkanna commented on #157
Yes @udaykahar , make different file named logo_navbar3 under same folder mentioned with your own color palete and design

[2022-10-22 15:33] udaykahar commented on #157
ok ready here 🙌

[2022-10-22 16:18] jsvigneshkanna commented on #39
@GeorgeET15 , closing this issue as it was in inactive state for 4 days

[2022-10-22 16:18] #39 closed

[2022-10-22 16:18] jsvigneshkanna commented on #40
Hi @shrutilenka
Any updates, please let me know if any help needed

[2022-10-22 16:20] jsvigneshkanna commented on #53
@Harikarthyk ,
Closing this issue, as it was in-active for more than 3 days

[2022-10-22 16:20] #53 closed

[2022-10-22 16:21] jsvigneshkanna commented on #54
Hi @AbhishekTiwari23

Just a reminder, you have 3 issues un-solved, please try to close as when you get time

[2022-10-22 16:21] jsvigneshkanna commented on #60
Closing as done

[2022-10-22 16:21] #60 closed

[2022-10-22 16:23] jsvigneshkanna commented on #92
Hi @HondaChan14 , unassigning you from this issue as it was inactive for more than 3 days

[2022-10-22 16:24] jsvigneshkanna commented on #110
Hi @iamkennis , any updates please?

[2022-10-22 16:25] jsvigneshkanna commented on #117
Hi @Ankur2606 ,

Just a reminder, please fix this issue :)

[2022-10-22 16:26] jsvigneshkanna commented on #125
Hi @chibuike-19 ,
Please let me know any help needed, as this issue was inactive for more than 2 days

[2022-10-22 16:26] jsvigneshkanna commented on #133
Hi @dishantzaveri
Please let me know, if help needed as this issue was inactive for more than 2 days

[2022-10-22 16:27] jsvigneshkanna commented on #140
Hi @omkarguravv

Just a reminder ;)

[2022-10-22 16:29] jsvigneshkanna commented on #158
Hi @Iam-SilentEyes
just a reminder :)

[2022-10-22 16:29] jsvigneshkanna commented on #160
Hi @uttampandit ,
Just a reminder, you have 3 issues to be solved

[2022-10-22 16:30] jsvigneshkanna commented on #166
Hi @Muhammad-Shahid-Jamal

Please let me know, if help needed !

[2022-10-22 16:31] jsvigneshkanna commented on #168
Hi @vaibhavg20comp

Please let me know, if help needed !

[2022-10-22 16:31] AFPedreros commented on #92
Hello @jsvigneshkanna can I give it a try?

[2022-10-22 16:32] jsvigneshkanna commented on #52
Hi @RachitGarg-12 , unassigning you from this issue as it was inactive for more than 3 days

[2022-10-22 16:36] jsvigneshkanna opened #187 "New tailwindCSS ui components"
### Description

Hi All,

- Check for feature/ issues in website - https://tailwindcsscomponents.vercel.app/ where we can improve

- Also check for issues created in issue-tab and get assigned which you can fix.

- You can also create new tailwind css components like `buttons, forms, store buttons, alerts, navbars, feature cards, testimonials, badges` which are not there in website (https://tailwi

[2022-10-22 16:39] rakicodes commented on #52
@jsvigneshkanna can i get assign to this issue?

[2022-10-22 16:45] jsvigneshkanna opened #188 "span text overflow in small screen"
### Bug Title

span text overflow

### Description of BUG

In homepage banner we have a link `learn more ->` which is span element
This looks perfect in big screens, but the text is not looking as expected in mobile view port (width <380px).

Expected:
- We need the link text as a whole , and needs to in next line

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Scree

[2022-10-22 16:48] jsvigneshkanna commented on #92
Sure @AFPedreros , please go ahead
The creativity on color and size is upto you

[2022-10-22 16:49] jsvigneshkanna commented on #52
Welcome back @rakicodes , please go ahead

[2022-10-22 16:54] AFPedreros commented on #92
Thank you!

[2022-10-22 16:56] jsvigneshkanna opened #189 "Add github forks/ stars widget in website homepage"
### Feature Title

Add github forks/ stars widget

### Description

- We need to GitHub stars/ forks widget in homepage inside homebanner.js component
- It needs to position as displayed in below screenshot

### This should be displayed only for big screens (not for mobile devices)

### Motivation

Displaying Github forks/ stars in webpage would bring more audiences

### Issue Type

Backend

### S

[2022-10-22 16:59] nitoC commented on #188
can you assign this to me?

[2022-10-22 17:01] Iam-SilentEyes commented on #158
Working on it

[2022-10-22 17:01] jsvigneshkanna opened #190 "New license page should be added"
### Feature Title

New license page

### Description

- We need to add new page which reads the **_MIT LICENSE_** which we are using in this repo
- The page should be under new legal folder (NEXTJS routing)
- The new page URL should be /legal/license

1. The background color should be of component page (https://tailwindcsscomponents.vercel.app/components) and white text color with horizontal paddi

[2022-10-22 17:02] jsvigneshkanna commented on #188
Yes sure @nitoC , please go ahead

[2022-10-22 17:06] harsh0620 commented on #189
hi @jsvigneshkanna , Please assign me this task.

[2022-10-22 17:08] jsvigneshkanna commented on #189
Hi @harsh0620
Thank you for checking this repo, please make sure not to display widget in mobile and style in tailwindcss (hope it don't have many stylings)

[2022-10-22 17:19] iamkennis commented on #110
Sorry,I will make a push soon

[2022-10-22 17:22] jsvigneshkanna opened #191 "New about-us page to be created"
### Feature Title

New about-us page

### Description

We need to add new `about us` page inside nextjs page folder with below content

1. Our website motivation - refer: https://github.com/jsvigneshkanna/tailwind_ui_components#motivation
2. Solution we are providing - refer: https://github.com/jsvigneshkanna/tailwind_ui_components#solution
3. Build by contributors for contributors
4. Contributors

[2022-10-22 17:36] #111 closed

[2022-10-22 17:39] deepaksuthar40128 commented on #191
can you assign it to me?

[2022-10-22 17:42] jsvigneshkanna commented on #191
Welcome back @deepaksuthar40128 , please go ahead

Add your own creativity on this page additional to mentioned stylings (need to be in tailwindCSS as the website itself for tailwindCSS components 🤪)

[2022-10-22 17:47] mnosov622 commented on #190
Hi @jsvigneshkanna !

I would love to work on this issue.

Could you assign it to me, please?

[2022-10-22 17:48] jsvigneshkanna commented on #190
Hi @mnosov622 ,
Sure, please go ahead!

[2022-10-22 17:51] mnosov622 commented on #190
Thank you !

What image can I add to license page?

[2022-10-22 17:57] jsvigneshkanna commented on #190
@mnosov622 , for now we can use below image
![image](https://user-images.githubusercontent.com/42484705/197355585-fae41acb-a558-42a6-9b87-191c3f26c3cd.png)

And the license page will be linked to footer license link

NOTE: please make sure the page/ component(as per correct term) should be styled in tailwindCSS as the website itself is for tailwindCSS components

[2022-10-22 18:03] mnosov622 commented on #190
Yes, got it!

Basically, I need to make page similar to documentation page: text on the left and image(that you provided) on the right?
![image](https://user-images.githubusercontent.com/73063742/197355881-05c66a97-d02c-4bb9-836d-3b7414466a3e.png)

[2022-10-22 18:06] jsvigneshkanna commented on #190
Yes flex-row in desktop and flex-column in mobile

[2022-10-22 18:12] mnosov622 commented on #190
Sure ! Got it.

One more question, please.

So the link to license should be only in the footer ?

[2022-10-22 18:13] jsvigneshkanna commented on #190
Yes, for now we only redirection from footer

This would be enhanced later with more pages coming

[2022-10-22 18:14] mnosov622 commented on #190
Sure, got it !

On Sat, Oct 22, 2022, 2:13 PM J S Vignesh Kanna ***@***.***>
wrote:

[2022-10-22 18:46] jsvigneshkanna commented on #188
Closeing as completed

[2022-10-22 18:46] #188 closed

[2022-10-22 18:59] uttampandit commented on #160
Yes sure I am working on it

[2022-10-22 19:22] deepaksuthar40128 commented on #191
can i update the existing about us page and add above features?

[2022-10-22 20:08] Ishikasaraf20 commented on #189
hey @jsvigneshkanna can you assign this issue to me i can work on it

[2022-10-22 21:37] Ankur2606 commented on #117
## I'll get it done right away . Sorry for the delay.

[2022-10-22 22:31] chibuike-19 commented on #125
sorry, I've been having an issue with my system, would work on it tomorrow.

[2022-10-23 01:42] mnosov622 commented on #190
Hi @jsvigneshkanna !

Kindly review my PR, please and let me know :)

[2022-10-23 02:37] shrutilenka commented on #40
Sorry sir due to some personal problems i am unable to contribute to this issue anymore.

[2022-10-23 03:00] jsvigneshkanna commented on #189
@Ishikasaraf20 , can you please check other open issues
This issue is solved

[2022-10-23 03:01] jsvigneshkanna commented on #191
Yes @deepaksuthar40128 that would work

[2022-10-23 03:51] jsvigneshkanna commented on #191
@deepaksuthar40128 , we dont have existing aboutus page. We need to create new one

[2022-10-23 04:47] anantnipunge commented on #54
Can you please assign this issue to me ? Willing to contribute in your project.

[2022-10-23 05:00] jsvigneshkanna commented on #54
@anantnipunge sure, please make sure the background color is same ad homepage banner and styled in tailwindcss

[2022-10-23 05:04] anantnipunge commented on #54
Ok working on it.

[2022-10-23 06:26] #189 closed

[2022-10-23 06:39] #92 closed

[2022-10-23 06:43] #190 closed

[2022-10-23 06:44] #117 closed

[2022-10-23 07:05] #40 closed

[2022-10-23 10:19] #191 closed

[2022-10-23 10:57] deepaksuthar40128 commented on #133
Can you assign it to me?

[2022-10-23 10:58] jsvigneshkanna commented on #133
Sure @deepaksuthar40128
Make sure the FAQs question and answers are in seperate json and fetched in component
This is should be shown in accordian

[2022-10-23 11:04] deepaksuthar40128 commented on #133
Where i can add link of FAQ page, in navbar or footer?

[2022-10-23 11:05] jsvigneshkanna commented on #133
Please create component for now, will think of where to display that @deepaksuthar40128

[2022-10-23 12:24] jsvigneshkanna commented on #142
Hi @Rosh-h , @Swap-Nova , @itsagift

Any updates. please let me know if any help needed

[2022-10-23 12:25] jsvigneshkanna commented on #167
Hi @Muhammad-Shahid-Jamal
Let me know if any help needed

[2022-10-23 12:26] jsvigneshkanna commented on #179
@eddybruv

Please let me know if any help needed, this issue needs to fixed with priority as this reduces the UX of product

[2022-10-23 12:27] jsvigneshkanna commented on #182
@AnnieDebbie ,

let me know if any help needed

[2022-10-23 13:31] jsvigneshkanna opened #202 "Create new tailwindCSS ui components"
### Description

Hi All,

Check for feature/ issues in website - https://tailwindcsscomponents.vercel.app/ where we can improve

Also check for issues created in issue-tab and get assigned which you can fix.

You can also create new tailwind css components like buttons, forms, store buttons, alerts, navbars, feature cards, testimonials, badges which are not there in website (https://tailwindcsscom

[2022-10-23 13:41] richardnikolas commented on #202
@jsvigneshkanna I would like to add a new _feature card_ component. Could you assing this one or another issue for me?

[2022-10-23 13:49] jsvigneshkanna commented on #202
Hi @richardnikolas ,

You can create a new component and raise PR, please make sure the new card is different from the existing ones in website and follow the folder structure of feature cards

[2022-10-23 13:50] richardnikolas opened #203 "[FEATURE]: New Feature Card component"
### Description

Creating a new Feature Card component using Tailwind!

### Screenshot of the tailwind component

![image](https://user-images.githubusercontent.com/20261986/197395987-ace5a6b6-af03-4898-a490-9748241aa83a.png)

### Are you taking this fetaure implementaion

Yes

[2022-10-23 13:51] richardnikolas commented on #203
@jsvigneshkanna could you add the tags for Hacktoberfest, please?

[2022-10-23 13:51] jsvigneshkanna commented on #203
Great @richardnikolas ,
BTW welcome to our cooleer Project 🥂

[2022-10-23 14:30] Rosh-h commented on #142
If I create the video with loom in the voice narration will that be OK or documentation describing the features is also needed

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: J S Vignesh Kanna ***@***.***>
Sent: Sunday, October 23, 2022 5:54:58 PM
To: jsvigneshkanna/tailwind_ui_components ***@***.***>
Cc: Roshni Gupta ***@***.***>; Mention ***@***.***>
Subje

[2022-10-23 14:44] AnnieDebbie commented on #182
Hello @jsvigneshkanna
Thank you so much for reaching out.
No help needed yet.
I just needed to catch up with the code base, using tailwind and creating a suitable design.
I should be done latest tomorrow. I hope that's okay?

[2022-10-23 14:47] jsvigneshkanna commented on #142
@Rosh-h video alone is enough for now

[2022-10-23 14:47] jsvigneshkanna commented on #182
Sure @AnnieDebbie, take your time :)

[2022-10-23 15:11] #157 closed

[2022-10-23 15:12] #38 closed

[2022-10-23 15:13] ShivangM opened #205 "[Enhancement] Improving UI"
Hi, I have gone through the current version of the website. I can improve the UI of the website for a much better user experience. Like smooth transitions, blurry image fixes, and other UI fixes. Please assign me the taste with the Hackoctoberfest tag.

[2022-10-23 15:17] jsvigneshkanna commented on #205
Welcome @ShivangM ,

Please only fix transitions, blurry images and some padding/ margins
let the background-color/ text-color be as such

[2022-10-23 15:18] jsvigneshkanna commented on #205
For homepage banner image, you create collage of existing component images

[2022-10-23 15:20] jsvigneshkanna opened #206 "create new tailwind components"
### Description

Hi All,

- Check for feature/ issues in website - https://tailwindcsscomponents.vercel.app/ where we can improve
- Also check for issues created in issue-tab and get assigned which you can fix.

You can also create new tailwind css components like buttons, forms, store buttons, alerts, navbars, feature cards, testimonials, badges which are not there in website (https://tailwindcss

[2022-10-23 15:21] ShivangM commented on #205
Ok got it!

[2022-10-23 15:22] jsvigneshkanna commented on #206
Don't please comment here, this is just a placeholder for other new issues/ features

[2022-10-23 15:36] RakshaPawar108 opened #207 "[FEATURE]: Stepper Component"
### Description

Horizontal Stepper Component for Multi-Step FormsHorizontal

### Screenshot of the tailwind component

![Screenshot (149)](https://user-images.githubusercontent.com/30971358/197401335-d4d19c10-66b9-4dce-9a8b-cd8ab5e4f0a7.png)

### Are you taking this fetaure implementaion

Yes

[2022-10-23 15:37] RakshaPawar108 commented on #207
Please assign this issue to me

[2022-10-23 15:48] jsvigneshkanna commented on #207
Hi @RakshaPawar108 ,

Great you took new component. Please follow below instruction for folder structure.

- The final code should be placed under path tailwind_components/forms with file name as multi_form_horizontal_progress.jsx
- The file as to be imported to tailwind_components/forms /collection.js file as per example and added to the formCollections list
- Post these process, go to components

[2022-10-23 16:20] Krishnansh5 opened #209 "[Feature]: Alert Box"
### Feature Title

Error/Warning Alert

### Description

A different looking alert box

### Motivation

Adding variety to alert boxes.

### Issue Type

Frontend

### Screenshot of the feature if done ?

![Screenshot from 2022-10-23 21-45-59](https://user-images.githubusercontent.com/97296908/197403394-346d24a0-9623-4eaf-983d-93e166c29c31.png)

### Are you taking this fetaure implementaion

Yes

[2022-10-23 16:44] jsvigneshkanna commented on #209
Hi @Krishnansh5 , go ahead

- The final code should be placed under path tailwind_components/alerts with file name as sample_alert.jsx
- The file as to be imported to tailwind_components/alerts/collection.js file as per example and added to the alertCollections list
- The alert should close on clicking cross icon
- Post these process, go to components tab (components/alert) in website and check wh

[2022-10-23 16:47] #203 closed

[2022-10-23 16:49] jsvigneshkanna opened #211 "Need to check grammar and clean the text in document"
### Bug Title

Grammar check

### Description of BUG

We have added new documentation page, where we need to do grammar check and add/ remove words to make users understand the document with ease

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/documentation

### Bug Issue Type

Documentation

### Screenshot of the issue if in UI/ Document

nill

### Are you taking this issue

[2022-10-23 17:59] eddybruv commented on #179
Just facing some power issues, should be resolved before evening, sorry 😅

[2022-10-23 18:15] jsvigneshkanna commented on #179
No worries!

[2022-10-23 18:18] #207 closed

[2022-10-23 18:24] jsvigneshkanna opened #213 "Correct the display of text in footer"
### Bug Title

Display issue in footer

### Description of BUG

The footer's `follow us` text is wrapped to 2 lines only in codepen page. We need to check why the issue is happening in codepen page and rectify that to display that as other pages

NOTE: THIS ISSUE IS HAPPENING ONLY FOR MOBILE VIEW PORT - width < 420px

### Reporduction URL of bug

/component/buttons

### Bug Issue Type

Frontend

#

[2022-10-23 18:37] GAURCODER commented on #213
@jsvigneshkanna can you assign this issue to me

[2022-10-23 18:40] rakicodes commented on #52
@jsvigneshkanna can you clarify what i am working on?

[2022-10-23 18:40] jsvigneshkanna opened #214 "Create new privacy policy page in nextjs"
### Feature Title

Privacy policy

### Description

- Need to create a new privacy policy component which has the below points, and import that component to a new page with a navbar and footer
- The new page shouldn't have a loader
- New page should be styled only with tailwindcss
- the background color should be of license page and same text colour
- new page should be linked to footer link

Poin

[2022-10-23 18:41] jsvigneshkanna commented on #213
Sure @GAURCODER

BTW, halpy diwali

[2022-10-23 18:42] GAURCODER commented on #213
@jsvigneshkanna Happy Diwali

[2022-10-23 18:43] jsvigneshkanna commented on #52
We need to add ui component same as screenshot which is styled only with tailwindcss
You can refer other store buttons in codebase and how they are imported to collections.js file

[2022-10-23 18:46] Dun-sin opened #215 "[Feature]: Add automatic releases"
### Feature Title

Add automatic releases

### Description

I noticed that the releases are done manually
How about create an automatic release, that happens whenever some contributes to this project, it will use the conventional commit. I see you already use conventional commits anyway.

Here's a link for reference:
[Set Automatic Release (Skip Commitizen)](https://youtu.be/QZdY4XYbqLI)

### Moti

[2022-10-23 18:51] jsvigneshkanna commented on #215
Hi @Dun-sin
Looks good idea, it would rather reduce my relase headache 🤣

Can you please take this issue

[2022-10-23 18:53] Dun-sin commented on #215
Can only be done by you, only you have the rights to do it

[2022-10-23 19:06] aiden5221 commented on #211
can you please assign this issue to me

[2022-10-23 19:11] jsvigneshkanna commented on #211
Please go ahead @aiden5221

[2022-10-23 19:26] Krishnansh5 commented on #209
I have opened a PR for this issue

[2022-10-23 19:42] aiden5221 commented on #211
PR created.

[2022-10-24 02:28] SarveshPatil29 commented on #214
Hi! I would like to work on this issue. Can you please assign it to me?

[2022-10-24 03:07] #209 closed

[2022-10-24 03:09] #213 closed

[2022-10-24 03:15] #211 closed

[2022-10-24 03:23] #179 closed

[2022-10-24 03:25] jsvigneshkanna commented on #214
Hi @SarveshPatil29
Please go ahead, make sure the stylings are done in tailwind and are in standard to other pages

Happy Diwali 🍻

[2022-10-24 04:46] SarveshPatil29 commented on #214
Sure and Happy Diwali!

[2022-10-24 06:00] #52 closed

[2022-10-24 06:05] SarveshPatil29 commented on #141
Hey @jsvigneshkanna, I am interested in working on this issue. Can you please assign this issue to me?

[2022-10-24 06:06] jsvigneshkanna commented on #141
Sure @SarveshPatil29

[2022-10-24 07:13] SarveshPatil29 commented on #141
Hey, @jsvigneshkanna shall I submit a new PR? I was just confirming because you haven't accepted the previous one.

[2022-10-24 07:32] jsvigneshkanna commented on #141
@SarveshPatil29 , which one?

[2022-10-24 07:34] SarveshPatil29 commented on #141
The one in which i created privacy page

[2022-10-24 07:45] #214 closed

[2022-10-24 07:53] jsvigneshkanna commented on #133
Thank you @deepaksuthar40128 , closing this issue as done

[2022-10-24 07:53] #133 closed

[2022-10-24 07:54] jsvigneshkanna commented on #141
@SarveshPatil29 , merged your code, please check other issues 🍻

[2022-10-24 07:54] #141 closed

[2022-10-24 07:55] jsvigneshkanna commented on #110
Sure @iamkennis  no problem!

[2022-10-24 07:55] jsvigneshkanna commented on #125
Sure @chibuike-19 no worries. just a reminder !

[2022-10-24 07:56] jsvigneshkanna commented on #158
sure @Iam-SilentEyes

[2022-10-24 07:57] jsvigneshkanna commented on #160
Sure @uttampandit

[2022-10-24 08:00] #215 closed

[2022-10-24 08:03] SarveshPatil29 commented on #168
Hey @jsvigneshkanna, I would like to work on this issue. Could you please assign this to me?

[2022-10-24 08:07] SarveshPatil29 commented on #140
Hey @jsvigneshkanna, if the issue is still unresolved can you please assign it to me?

[2022-10-24 08:09] jsvigneshkanna opened #226 "Create new tailwind UI components"
### Description

Hi All,

- Check for feature/ issues in website - https://tailwindcsscomponents.vercel.app/ where we can improve
- Also check for issues created in issue-tab and get assigned which you can fix.
- You can also create new tailwind css components like buttons, forms, store buttons, alerts, navbars, feature cards, testimonials, badges which are not there in website (https://tailwindcs

[2022-10-24 08:10] jsvigneshkanna commented on #168
sure @SarveshPatil29

[2022-10-24 08:11] jsvigneshkanna commented on #140
Sure @SarveshPatil29 , assigning you too. Please create file named `large_image_contact_form.jsx`. Use different image and color palete

[2022-10-24 09:33] Viren0602 commented on #157
Hello sir , can you assign this issue to me?

[2022-10-24 09:33] Viren0602 commented on #156
Hello sir, can you assign this issue to me?

[2022-10-24 09:34] Viren0602 commented on #140
Hello sir, can you assign this issue to me?

[2022-10-24 09:35] jsvigneshkanna commented on #157
Hi @Viren0602 , can you check other issues or raise new one for which you are building a component, because this is closed

[2022-10-24 09:36] jsvigneshkanna commented on #156
Welcome @Viren0602
Please make sure the final result is same as screenshot and mobile responsive

[2022-10-24 09:37] jsvigneshkanna commented on #140
@Viren0602 , please check other issues. We already have 2 assignees

[2022-10-24 09:45] uttampandit commented on #167
Hi @jsvigneshkanna can i work on this, please assign me.

[2022-10-24 09:48] jsvigneshkanna commented on #167
Sure @uttampandit

[2022-10-24 09:57] #160 closed

[2022-10-24 12:18] #166 closed

[2022-10-24 12:27] #168 closed

[2022-10-24 12:30] MunavvarSinan commented on #125
Can you assign me the task if it is not done yet

[2022-10-24 12:32] #167 closed

[2022-10-24 12:44] jsvigneshkanna commented on #125
@MunavvarSinan sure
Please make sure the code is not plagiarised, as it would cause copyright issue

[2022-10-24 14:00] eddybruv opened #235 "[Bug]: Logo text is dark and not very visible"
### Bug Title

[Bug]: Logo text is dark and not very visible

### Description of BUG

The logo text is not visible on its current background

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/80322163/197542367-93519a62-6e00-4f10-a778-63738cca7d45.png)

### Are you taking this

[2022-10-24 14:02] octosapien commented on #235
I would love to work on this .
Please assign me this issue .

[2022-10-24 14:10] MunavvarSinan commented on #125
Okay

[2022-10-24 14:47] Viren0602 commented on #54
Hello sir, can you assign this issue to me?

[2022-10-24 14:48] Viren0602 commented on #110
Hello sir, can you assign this issue to me?

[2022-10-24 14:49] Viren0602 commented on #158
Hello sir, can you assign this issue to me?

[2022-10-24 14:49] Viren0602 commented on #182
Hello sir, can you assign this issue to me?

[2022-10-24 14:50] Viren0602 commented on #205
Hello sir, can you assign this issue to me?

[2022-10-24 15:36] #235 closed, assigned to eddybruv

[2022-10-24 18:00] jsvigneshkanna commented on #182
Sure @Viren0602
Please star this repo

[2022-10-24 18:06] MunavvarSinan commented on #125
what was the probelm?

[2022-10-24 18:17] jsvigneshkanna commented on #54
Sure @Viren0602

[2022-10-24 18:17] jsvigneshkanna commented on #110
Closing due to inactivity

[2022-10-24 18:21] jsvigneshkanna commented on #125
@MunavvarSinan , can you raise new PR again

[2022-10-24 18:22] jsvigneshkanna commented on #156
No plagiarism to be followed

[2022-10-24 18:33] #125 closed

[2022-10-24 20:11] iamkennis commented on #110
Am sorry , am done with with,I just push it,I have electricity issue

[2022-10-24 21:26] mdb1710 commented on #156
If this issue is still open I would love to take it on.

[2022-10-24 21:37] AnnieDebbie commented on #182
@jsvigneshkanna
I know I had promised to send today but I moved really slow because I came down with a cold. I have attached screenshots of what I've done so far for the desktop view.
Regarding the blogger icon, I could only the exact icon on fonts awesome and I don't know how you feel About me using that.
![Screenshot from 2022-10-24 22-15-28@2x](https://user-images.githubusercontent.com/32017636

[2022-10-24 21:40] AnnieDebbie commented on #182
![Screenshot from 2022-10-24 22-15-28@2x~2](https://user-images.githubusercontent.com/32017636/197634957-9cf3dbc5-9308-4c29-9f62-4a767fe984e2.png)

[2022-10-25 02:59] jsvigneshkanna commented on #182
@AnnieDebbie take care
This looks great, we can enhance it in subsequent days/PRs as there is room for improvement always

BTW, dont add the navigation to navbar. Just add the page, I will link it from aboutUS page

[2022-10-25 03:00] jsvigneshkanna commented on #110
No problem @iamkennis , will check the PR

[2022-10-25 03:01] jsvigneshkanna commented on #156
Sure @mdb1710 , please make sure this is not plagiarised from other sites
This should be mobile responsive

[2022-10-25 04:57] Viren0602 commented on #156
Sir I have raised a PR for #156 again. Now its not a plagiarised from other sites.

[2022-10-25 06:00] #110 closed

[2022-10-25 06:07] jsvigneshkanna opened #239 "check Website and come up with new issues"
### Feature Title

come up with new issues

### Description

Check our website - https://tailwindcsscomponents.vercel.app/

### Feature
If you have new features which we can implement in this website (Should be relevant to the theme), create new feature request in GitHub and we will assign the issue to respected owner

### Bug
If you find any bug/ issues in both desktop and mobile view port, raise

[2022-10-25 06:09] jsvigneshkanna opened #240 "Create new tailwind Components"
### Description

### New tailwind component
If you can create new component design by your own in TAILWINDCSS and need to showcase them in our website, create new tailwind request in GitHub and we will assign the issue to respected owner.

`NOTE: Strictly no plagiarism or copying the component from any website/ GitHub. We won't accept those PRs. `

Check the website components and raise new reques

[2022-10-25 09:01] MunavvarSinan commented on #205
can i redesign the whole UI with the same colour scheme

[2022-10-25 09:22] HammadKhaan opened #242 "[Bug]:"
### Bug Title

[Bug]: When screen width is less than 901px, the header covers almost half of the screen.

### Description of BUG

Issue reported as requested in [#239](https://github.com/jsvigneshkanna/tailwind_ui_components/issues/239)
If your screen width is between 640px and 901px, the sticky header's UI is not up to the mark, its height is increased drastically.

### Reporduction URL of bug

_

[2022-10-25 09:23] HammadKhaan commented on #242
@jsvigneshkanna Kindly assign this issue to me.

[2022-10-25 09:24] jsvigneshkanna commented on #242
Hi @HammadKhaan good check

Make the navbar to hamburger menu when screen is less than 900px same as mobile

[2022-10-25 09:25] jsvigneshkanna commented on #242
Kindly star the repo 😁

[2022-10-25 11:12] RibhavKhanna commented on #240
@Jsvigneshkanna please assign me this issue. I will try my best to make something innovative.

[2022-10-25 11:17] jsvigneshkanna commented on #240
Sure @RibhavKhanna
BTW, I can't assign it here as this issue is a placeholder.

You can create new issues for which your going to build new design
Make sure the new component isnt duplicate of existing ones in website and not plagarised for other source

[2022-10-25 12:05] mcctrix opened #244 "Typos in website!"
### Bug Title

typos in texts

### Description of BUG

I would like to fix some of the typos in the website as well as fixing some UI glitches on mobile side. such as options in navbar menu have too much margin or padding. there are some improvement can be made

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

_No response_

[2022-10-25 12:08] jsvigneshkanna commented on #244
Sure @mcctrix
Please proofread the texts and regarding UI changes, don't make major changes . just include margin/padding alone

Please star this repo to make it cooler

[2022-10-25 12:12] mcctrix commented on #244
![image](https://user-images.githubusercontent.com/42296139/197769500-fc001e1e-5efa-4264-834d-741feacf4fbc.png)
These margin/padding are looking a bit long.

[2022-10-25 12:15] jsvigneshkanna commented on #244
Oh, then we can try reducing the padding and margins.
Please go ahead

[2022-10-25 12:16] mcctrix commented on #244
![image](https://user-images.githubusercontent.com/42296139/197770013-cc9dffdd-0dc4-42d3-808c-6b087932166b.png)
Description: "There are lots of components such as Button, Form, Feature Card etc. which can save lot of time for a front end dev. you can access them from [Here](https://tailwindcsscomponents.vercel.app/components)"

[2022-10-25 12:30] jsvigneshkanna commented on #244
@mcctrix , you can raise PR with the changes. I will check the changes done there.

[2022-10-25 13:08] #244 closed

[2022-10-25 13:46] Athi223 opened #247 "[Bug]: Navbar Links are not clickable via their hover backgrounds"
### Bug Title

Navbar Links are not clickable via their hover backgrounds

### Description of BUG

The hoverable area around the links (colored purple when hovered) is not clickable to navigate to the link. However, it should also trigger the link click, as it is a hover effect and user should be able to click that too.

Note: I'd like to contribute to this, if you feel this needs to be fixed

###

[2022-10-25 13:48] jsvigneshkanna commented on #247
Sure @Athi223 , please go ahead

[2022-10-25 16:24] #182 closed

[2022-10-25 19:56] munyanezaarmel opened #249 "[Bug]: when screen is less than 900px button contains git star and fork is not displayed"
### Bug Title

[Bug]: when screen is less than 900px button contains git star and fork is not displayed

### Description of BUG

for small devices tablets and smartphones button of git star and fork is displayed to none means are not showing up for small devices

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/

### Bug Issue Type

Frontend

### Screenshot of the issue if in

[2022-10-26 00:08] codeboyfriend commented on #249
Can I work on it?

[2022-10-26 02:52] jsvigneshkanna commented on #249
Hi @munyanezaarmel , its made intentionally not to display gitstats in mobile devices
 You can try adding that stats in hamburger menu instead

[2022-10-26 02:52] jsvigneshkanna commented on #249
For mobile devices alone

[2022-10-26 02:54] #247 closed

[2022-10-26 04:26] codeboyfriend commented on #249
I'll make a PR soon

[2022-10-26 04:36] munyanezaarmel commented on #249
@jsvigneshkanna am not getting well hamburger menu means it should be displayed under FAQS

[2022-10-26 04:43] munyanezaarmel opened #250 "[Bug]: Bootstrap misspelled incorrect"
### Bug Title

[Bug]: Bootstrap misspelled incorrect

### Description of BUG

 tailwind bootsrap instead of bootstrap in follow section us section

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/73389979/197936519-682a5b70-7bee-475a-bcb1-991e9648

[2022-10-26 04:47] jsvigneshkanna commented on #249
@munyanezaarmel yeah that would be good idea or above contributors list in about us page centered

[2022-10-26 04:48] jsvigneshkanna commented on #250
@munyanezaarmel go ahead with fix

[2022-10-26 04:55] munyanezaarmel commented on #250
@jsvigneshkanna done check it

[2022-10-26 04:59] #250 closed

[2022-10-26 05:49] kaartik2611 opened #253 "[Bug]: Footer collision"
### Bug Title

footer styling

### Description of BUG

there is a styling issue in the footer when the width of the screen is between 768px and 1024px.

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/67231761/197944839-2a7a1042-7c9e-4f1d-85c4-de97297dca26.png)

### Are you

[2022-10-26 13:17] #253 closed

[2022-10-26 13:17] #156 closed

[2022-10-26 13:20] jsvigneshkanna opened #255 "Retain github and linkedin social icons in <900px view"
### Bug Title

Retain github and linkedin social icons

### Description of BUG

Retain github and linkedin social icons in <900px view

Hide other social icons which in less than 900 px view port

### Reporduction URL of bug

https://tailwindcsscomponents.vercel.app/

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/42

[2022-10-26 13:22] jsvigneshkanna opened #256 "increase width for div for view 400 to 900px"
### Bug Title

increase width

### Description of BUG

increase width for div for view 400 to 900px

the horizontal margins should be same as navbars for viewport <900px

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/42484705/198036893-3534f10b-fbdc-4e12-bb1f-8c6a0d9b19d6.

[2022-10-26 13:37] vanshikaa-agarwal commented on #256
i would like to work on this

[2022-10-26 13:38] vanshikaa-agarwal commented on #256
please assign this issue to me

[2022-10-26 13:46] jsvigneshkanna commented on #256
Sure @vanshikaa-agarwal , go ahead

take reference from mobile view port for design! let me know if any help needed
BTW please star this repo (huge diff between forks and stars 😁)

[2022-10-26 14:09] #54 closed

[2022-10-26 15:36] AmanJain18 commented on #255
Can u assign it to me Please

[2022-10-26 15:37] jsvigneshkanna commented on #255
@AmanJain18 sure, refer mobile view port design!

[2022-10-26 17:30] munyanezaarmel opened #259 "[Feature]: configure gitpod to run project"
### Feature Title

[Feature]: configure gitpod to run project

### Description

Gitpod continuously builds your git branches like a CI server so that you can start coding right away - no more waiting for dependencies to download and builds to finish these days many contributors prefer to open project in gitpod I think this can be a good idea to let contributors choose between cloning or running in

[2022-10-27 06:32] AmanJain18 commented on #256
Hey, Could you tell more clearly what to be fixed...
and assign it to me.

[2022-10-27 06:36] jsvigneshkanna commented on #256
Hi @AmanJain18
In the ipad view port, the div which is shown in the screenshot is not having any harizontal adding

This should like what is displayed in mobile screen

[2022-10-27 06:37] jsvigneshkanna commented on #256
This div is in components page

[2022-10-27 06:39] AmanJain18 commented on #256
Okay will try to fix and implement that
And i had fixed issue #255, can u merge my PR...

[2022-10-27 06:43] #255 closed

[2022-10-27 08:13] abirhasanohi commented on #158
@jsvigneshkanna can you please assign me on this issue?

[2022-10-27 09:03] jsvigneshkanna commented on #158
@abirhasanohi sure, go ahead. Make sure no plagarism and star the repo to make it cooler

[2022-10-27 11:30] jsvigneshkanna commented on #158
Sure @imohitkumar1610 , create filename with prefix new
Have your creativeness on building it

[2022-10-27 15:32] Znoy108x opened #263 "[FEATURE]: Expandable input field"
### Description

I  can create expandable input field .
On hovering it all the input fields will be shown

### Screenshot of the tailwind component

![image](https://user-images.githubusercontent.com/75539409/198333603-9a166726-83c2-4401-bb72-3152056fc987.png)
![image](https://user-images.githubusercontent.com/75539409/198333626-025f1815-f70a-4682-be4b-381d391c2987.png)

### Are you taking this fe

[2022-10-27 15:36] jsvigneshkanna commented on #263
Hi @Znoy108x ,
Please make sure it's not copied and pasted from somewhere. we follow `strict guideline for plagiarism`.
Add this under forms components folder

[2022-10-27 15:42] Znoy108x commented on #263
@jsvigneshkanna don't worry i have made it by  myself using tailwind

[2022-10-27 16:13] Znoy108x commented on #263
@jsvigneshkanna  There are some errors while installing ( npm i )  the project ??

[2022-10-27 16:17] jsvigneshkanna commented on #263
share the screenshot

[2022-10-27 16:19] jsvigneshkanna commented on #263
I dont have any errors @Znoy108x

[2022-10-27 16:58] #256 closed

[2022-10-27 16:58] jsvigneshkanna commented on #249
Any updates @munyanezaarmel/ @codeboyfriend  ?

[2022-10-27 16:59] AmanJain18 commented on #256
Issue Fixed, Please check and update me for any additional changes

[2022-10-27 17:10] AmanJain18 commented on #249
Assign it to me and let me know where i should include it in mobile view screen sizes ?

[2022-10-27 17:18] jsvigneshkanna commented on #249
@AmanJain18 , display it below contributors text and above contributors images in about US page

This should be displayed for all screens.

![image](https://user-images.githubusercontent.com/42484705/198356517-24dd161e-4fb7-4555-a403-e9fd0467b115.png)

[2022-10-27 17:30] #259 closed

[2022-10-27 22:17] AmanJain18 commented on #249
Fixed issue merge PR ✌️🙂

[2022-10-28 02:55] #249 closed

[2022-10-28 10:59] Znoy108x commented on #263
![image](https://user-images.githubusercontent.com/75539409/198571883-ccc89b43-f27b-4490-9260-54b630921323.png)

[2022-10-28 11:05] maemreyo commented on #263
DId you try to remove `node_modules` first, then `npm i`.

[2022-10-28 11:07] Znoy108x commented on #263
no ! but i solved that issue by running "yarn install"

[2022-10-28 11:35] AmanJain18 commented on #249
Check for All mobile and tab screen size, its working perfectly...
Kindly please add hacktoberfest-accepted label for my PR
Thank You...

[2022-10-28 13:02] RoshaanAli opened #267 "[Bug]: Responsiveness"
### Bug Title

Responsiveness Issue

### Description of BUG

Social icons are hiding in responsiveness.

Kindly assign me this issue.

### Reporduction URL of bug

_No response_

### Bug Issue Type

Frontend

### Screenshot of the issue if in UI/ Document

![image](https://user-images.githubusercontent.com/25253872/198596457-589f354c-fd3a-4aa5-8f3c-8885a2bf2fb8.png)

### Are you taking this issue

[2022-10-28 13:04] jsvigneshkanna commented on #267
Sure @RoshaanAli , please go agead, and also star the repo to make it cooler

[2022-10-28 17:11] AmanJain18 commented on #267
@RoshaanAli  Check bug issue #255 , it is made just like that to hide in mobile and tab screen sizes...

[2022-10-28 17:13] AmanJain18 commented on #267
@jsvigneshkanna If social icon is to be shown at <900px view port than assign it to me, as i know where to make changes and fixed issue... has work on it Bug #255

[2022-10-28 19:02] AmanJain18 commented on #267
Issue Fixed....

[2022-10-28 19:03] Mahich123 opened #269 "Improving Social media section"
I would like to improve the social media section this one :
![image](https://user-images.githubusercontent.com/69717681/198712720-8b1130b8-7f79-4546-9af0-4a426a6eb04d.png)
can you assign me ?

[2022-10-28 19:23] irvrivera commented on #205
Hello guys is there other items that may I may assist with. I am new here and looking for two more contributions

[2022-10-29 01:57] jsvigneshkanna commented on #205
@irvrivera , you can check the component images which we use on the components page and change them as its somewhat blurry

Url: /components

For new images, you can take collage of existing components like button/ form so on

Also star the repo

[2022-10-29 01:59] jsvigneshkanna commented on #269
@Mahich123 , please go ahead.
Don't make big changes to not lose the main essence
You can change the padding, margins, borders

Also star the rep

[2022-10-29 05:48] jsvigneshkanna commented on #267
@AmanJain18 , here the github and linkedin icons should only be visible in view port < 900px and have some horizontal padding between 2 icons

[2022-10-29 05:57] #142 closed

[2022-10-29 07:00] AmanJain18 commented on #267
When the screen size is less the <900px only github and linkedin icon should be visible and rest icon should be hidden right ?

[2022-10-29 07:41] #267 closed

[2022-10-29 12:23] Mahich123 commented on #269
@jsvigneshkanna  Made pr can you check the changes ....

[2022-10-29 12:43] #269 closed

[2022-10-29 16:59] AmanJain18 commented on #158
Implement the require navbar with hamburger functioning
Assign this issue to me and let me know for any changes 🙂

[2022-10-29 17:23] #158 closed

[2022-10-30 10:32] Pratikshaekbote commented on #205
I am willing to work on this issue. Can you assign it to me? @jsvigneshkanna

[2022-10-30 10:53] jsvigneshkanna commented on #205
Hi @Pratikshaekbote , please work on this isse, also star the repo to make it cooler

[2022-10-30 16:29] irvrivera commented on #205
@ jsvigneshkanna, sorry I just saw this I will also work on this.
@ pratishaekbote. what portion are you working on so not to duplicate work.

[2022-10-31 07:30] developer-diganta opened #276 "[Feature]:"
### Feature Title

Add styled scroll bar

### Description

The scroll bar can be styled

### Motivation

The theme of the website would look better

### Issue Type

Frontend

### Screenshot of the feature if done ?

_No response_

### Are you taking this fetaure implementaion

Yes

[2022-10-31 07:33] developer-diganta opened #277 "Use JS to keep year updated"
![image](https://user-images.githubusercontent.com/65999534/198955225-1ecee1b4-7a14-480f-9aed-d809c923710b.png)
The year can be kept updated using JS instead of hardcoding. If this issue is relevant, can I work on it?

[2022-10-31 07:43] jsvigneshkanna commented on #277
@developer-diganta , great check please go ahead. Give a star to repo!

[2022-10-31 10:35] #277 closed

[2022-10-31 13:28] jsvigneshkanna commented on #276
Assigned to you @developer-diganta

[2022-10-31 23:50] mnosov622 opened #280 "[Feature]: Improve FAQ section"
### Feature Title

Improve UX when exploring FAQ section

### Description

### I have 3 things, that I would love to add:

1) Add transition, so that description will appear smoothly. Now it's appearing the same moment you click on arrow icon.

2) When 1 item is selected, close others. This will allow user to focus only on one item at a time.

For now, we can open all tabs, which is a bit messy, n

[2022-10-31 23:53] mnosov622 commented on #280
Kindly, assign this issue to me :)

[2022-11-01 02:54] jsvigneshkanna commented on #280
@mnosov622 , great check
Please go ahead! Will love to see the end result.
If you want, you can break these 3 points to smaller parts and raise PRs for them.

[2022-11-01 02:58] mnosov622 commented on #280
Thank you !

Yes. Can I make one PR but add new commit with each step implemented ?

On Mon, Oct 31, 2022, 10:54 PM J S Vignesh Kanna ***@***.***>
wrote:

[2022-11-01 03:13] jsvigneshkanna commented on #280
Am daying, creating 3 PRs for each point you have mentioned

[2022-11-01 03:19] mnosov622 commented on #280
Uh, it's just that I  need one PR for college course. Is it okay, please?

On Mon, Oct 31, 2022, 11:14 PM J S Vignesh Kanna ***@***.***>
wrote:

[2022-11-01 03:20] jsvigneshkanna commented on #280
Yeah sure please go aheah @mnosov622

[2022-11-01 03:22] mnosov622 commented on #280
Thank you !

Appreciate it :)

On Mon, Oct 31, 2022, 11:20 PM J S Vignesh Kanna ***@***.***>
wrote:

[2022-11-02 02:41] mnosov622 commented on #280
Hi @jsvigneshkanna !

For some reason description is not opening locally, do you know what might be an issue here?

https://user-images.githubusercontent.com/73063742/199382829-ebbc87f8-2270-4197-903e-0a7b18048952.mp4

Thank you!

[2022-11-02 03:03] jsvigneshkanna commented on #280
It happens in local, need to find the issue. But works in production

[2022-11-02 03:19] mnosov622 commented on #280
Oh, but how do I test it then ?(

[2022-11-03 05:27] AmanJain18 commented on #280
Implemented feature and fix other different known issue.. ☺️

[2022-11-03 15:44] mnosov622 commented on #280
@AmanJain18 sorry, but this issue was assigned to me, why would you do it ? :)

[2022-11-08 11:05] AmanJain18 commented on #280
Issue ic completed... Set it to closed

[2022-11-08 11:08] #280 closed

[2022-11-08 11:08] #263 closed